@{
	 Dictionary<string ,string> msg=ViewBag.msg;
}
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="leanote,蚂蚁笔记,leanote.com">
	<meta name="description" content="leanote, 蚂蚁笔记, ">
	<meta name="author" content="leanote,蚂蚁笔记">
	<title>@ViewBag.Title</title>

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<style>
		html, body {
			height: 100%;
		}
	</style>
</head>
<body id="boxBody">
<section id="box" class="animated fadeInUp">
	
		<div>
			<h1 id="logo"></h1>
			<div id="boxForm">
				<div id="boxHeader">安装已经完成。</div>
            </div>
		</div>
	</section>

	<div id="boxFooter">
		<p>
			<a href="/">主页</a>
		</p>
		<p>
			© <a href="https://leanote.com">Leanote</a>
		</p>
	</div>

	<script src="/js/jquery-1.9.0.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>
