@{
    Layout = "";
    Dictionary<string, string> blog = ViewBag.blog;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="leanote,leanote.com">
    <meta name="description" content="leanote, not only a notebook">
    <meta name="author" content="mrbird">
    <link rel="Shortcut icon" href="{{$.themeBaseUrl}}/images/{{$.themeInfo.WebImgName}}">
    <!-- js -->
    <script src="~/blog/themes/MaterialDesign/js/jquery-1.11.0.min.js"></script>
    <script src="~/blog/themes/MaterialDesign/js/material.js"></script>
    <script src="~/blog/themes/MaterialDesign/js/aos.js"></script>
    <script src="~/blog/themes/MaterialDesign/js/sweetalert.min.js"></script>
    <title>
        @blog["Title"]
        @*{{if $.curIsIndex}}
        {{$.blogInfo.Title}}
        {{else if $.curIsCate}}
        分类-{{$.curCateTitle}}
        {{else if $.curIsSearch}}
        搜索-{{$.keywords}}
        {{else if $.curIsTags}}
        我的标签
        {{else if $.curIsTagPosts}}
        标签-{{$.curTag}}
        {{else if $.curIsPost}}
        {{$.post.Title}}
        {{else if $.curIsSingle}}
        {{$.single.Title}}
        {{else if $.curIsArchive}}
        归档
        {{end}}*@

    </title>
    <!-- css -->
    <link href="~/css/font-awesome-4.2.0/css/font-awesome-min.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/style.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/material.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/component.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/picture.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/aos.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/prettycode.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/bootstrap.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/sweetalert.css" rel="stylesheet">
    <link href="~/blog/themes/MaterialDesign/css/share_comment.css" rel="stylesheet">
</head>