@{
    Layout = "_Layout";
}

    <form>
        <div class="form-group">
            <label for="appid">APP ID</label>
            <input type="text" name="appid" class="form-control" id="appid" value="@MoreNote.Common.Utils.SnowFlake_Net.GenerateSnowFlakeID()" readonly="readonly" aria-describedby="appidHelp">
            <small id="appidHelp" class="form-text text-muted">APP ID由系统自动生成</small>
        </div>
        <div class="form-group">
            <label for="appautor">App Autor</label>
            <input type="text" name="appautor" class="form-control" id="appautor" aria-describedby="appautorHelp">
            <small id="appautorHelp" class="form-text text-muted">请填写APP作者或发行商</small>
        </div>
        <div class="form-group">
            <label for="appdetail">appdetail</label>
            <textarea name="appdetail" class="form-control" id="appdetail" rows="5" aria-describedby="appdetailHelp"></textarea>
            <small id="appdetailHelp" class="form-text text-muted">请对APP做简要说明</small>
        </div>
        <div class="form-group">
            <label for="appname">appname</label>
            <input type="text" name="appname" class="form-control" id="appname" aria-describedby="appnameHelp">
            <small id="appnameHelp" class="form-text text-muted">请填写APP的名称，建议5个字以内</small>
        </div>
        <div class="form-group">
            <label for="apppackage">apppackage</label>
            <input type="text" class="form-control" id="apppackage" aria-describedby="apppackageHelp">
            <small id="apppackageHelp" class="form-text text-muted">请填写APP的包名</small>
        </div>
        <div class="form-group">
            <label for="appdownurl">appdownurl</label>
            <input type="text" name="appdownurl" class="form-control" id="appdownurl" aria-describedby="appdownurlHelp">
            <small id="appdownurlHelp" class="form-text text-muted">请填写APP的下载地址</small>
        </div>

        <div class="form-group">
            <label for="applogourl">applogourl</label>
            <input type="text" class="form-control" id="applogourl" aria-describedby="applogourlHelp">
            <small id="applogourlHelp" class="form-text text-muted">请填写APP的Logo图片的下载地址</small>
        </div>
        <div class="form-group">
            <label for="appversion">appversion</label>
            <input type="text" class="form-control" id="appversion" aria-describedby="appversionHelp">
            <small id="appversionHelp" class="form-text text-muted">请填写APP的版本 建议请使用数字</small>
        </div>
        <div class="form-group">
            <label for="imglist">imglist</label>
            <textarea class="form-control" name="imglist" id="imglist" rows="5" aria-describedby="imglistHelp"></textarea>
            <small id="imglistHelp" class="form-text text-muted">请填写APP的预览图的地址，多个图片换行</small>
        </div>
        <div class="form-group">
            <label for="appsize">appsize</label>
            <input type="text" name="appsize" class="form-control" id="appsize" aria-describedby="appsizetHelp">
            <small id="appsizetHelp" class="form-text text-muted">请填写APP的大小，单位Byte</small>
        </div>
        <div class="form-group">
            <label for="appsize">管理员密码</label>
            <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">请填发布密码</small>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" name="agreement" class="form-check-input" id="agreement">
            <label class="form-check-label" for="exampleCheck1">我已阅读并同意《风险告知》和《服务协议》</label>
        </div>
        <button type="button" id="submitApp-btn" class="btn btn-primary" onClick="submint();return false;">Submit</button>

    </form>
<script>
    function submint() {
        if (!$("#agreement").prop('checked')) {
                alert("您尚未同意协议。");
                return;
            } else {
              //alert("您已经同意协议。");
        }
        $.post("api/1.0/app/AddAPP",
                {
                    appid: $("#appid").val(),
                    appautor: $("#appautor").val(),
                    appdetail: $("#appdetail").val(),
                    appname: $("#appname").val(),
                    apppackage: $("#apppackage").val(),
                    appdownurl: $("#appdownurl").val(),
                    applogourl: $("#applogourl").val(),
                    imglist: $("#imglist").val(),
                    appversion: $("#appversion").val(),
                    appsize: $("#appsize").val(),
                    agreement: $("#agreement").prop('checked'),
                    password: $("#password").val(),
                },
                function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
    }

</script>
