@model MoreNote.Logic.Entity.ServiceProviderCompany

@{
    ViewData["Title"] = "主机数据库";
     Layout = "_HostLayout";
}

<h2>Edit</h2>

<h4>ServiceProviderCompany</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServiceProviderCompanyId" />
            <div class="form-group">
                <label asp-for="SPName" class="control-label"></label>
                <input asp-for="SPName" class="form-control" />
                <span asp-validation-for="SPName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegalPersonId" class="control-label"></label>
                <input asp-for="LegalPersonId" class="form-control" />
                <span asp-validation-for="LegalPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionDate" class="control-label"></label>
                <input asp-for="RegionDate" class="form-control" />
                <span asp-validation-for="RegionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="control-label"></label>
                <input asp-for="WebSite" class="form-control" />
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldWebSite" class="control-label"></label>
                <input asp-for="OldWebSite" class="form-control" />
                <span asp-validation-for="OldWebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationPlace" class="control-label"></label>
                <input asp-for="RegistrationPlace" class="form-control" />
                <span asp-validation-for="RegistrationPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundDate" class="control-label"></label>
                <input asp-for="FoundDate" class="form-control" />
                <span asp-validation-for="FoundDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsBlock" /> @Html.DisplayNameFor(model => model.IsBlock)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RiskIndex" class="control-label"></label>
                <input asp-for="RiskIndex" class="form-control" />
                <span asp-validation-for="RiskIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MentionByName" class="control-label"></label>
                <input asp-for="MentionByName" class="form-control" />
                <span asp-validation-for="MentionByName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AnomalyDetection" /> @Html.DisplayNameFor(model => model.AnomalyDetection)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
