.button-area {
    padding-top: 8px;
    padding-left: 2px;
    height: 100%;
    width: 56px;
    float: left;
    /*background: #ff00a6;*/
    text-align: center;
    border: #a19c9c dashed 1px;
}

.btn {
    margin-top: 8px;
}

.tree-area {
    height: 100%;
    /*background: #681faa;*/
    margin-left: 56px;
    overflow:scroll;
}

.aside {
    height: 100%;
    width: 300px;
    float: left;
    /*background: yellow;*/
}
