@inherits LayoutComponentBase
@using MoreNote.BlazorHybridApp.Components.WebComponents

<div class="header">
    <AppHeaderComponent></AppHeaderComponent>
</div>
<div class="content">
    <div class="aside">
        @* <app-aside></app-aside> *@
    </div>
    <div class="main">
        @* <app-editor-tab></app-editor-tab> *@
    </div>
</div>
<div class="footer">footer</div>
