@inherits LayoutComponentBase


<div class="header">
    <AppHeaderComponent></AppHeaderComponent>
</div>
<div class="content">
    <div class="aside">
        <AppAsideBarComponent></AppAsideBarComponent>
    </div>
    <div class="main"  >
        <AppEditorTabComponent></AppEditorTabComponent>
    </div>
</div>
<div class="footer">footer</div>
