@inherits LayoutComponentBase
@using MoreNote.BlazorHybridApp.Components.WebComponents

<div class="header">
    <AppHeaderComponent></AppHeaderComponent>
</div>
<div class="content">
    <div class="aside">
        <AppAsideComponent></AppAsideComponent>
    </div>
    <div class="main"  >
        <AppEditorTabComponent></AppEditorTabComponent>
    </div>
</div>
<div class="footer">footer</div>
