
@{
    Layout = "_AiliDaoLayout";
    ViewBag.css = "data/cache/style_2_portal_index.css";
    ViewBag.selectPage = 8;
}
<div id="wp" class="wp">
    <link rel="stylesheet" type="text/css" href="template/nex_manga_181008/neoconex/about/main.css" />
    <script type="text/javascript">
        jQuery(function () {
            jQuery('#nex_abt_intro').click(function () { jQuery('html,body').animate({ scrollTop: jQuery('#nex_part_1').offset().top }, 200); });
            jQuery('#nex_abt_contact').click(function () { jQuery('html,body').animate({ scrollTop: jQuery('#nex_part_2').offset().top }, 200); });
            jQuery('#nex_abt_friendlinks').click(function () { jQuery('html,body').animate({ scrollTop: jQuery('#nex_part_3').offset().top }, 200); });
            jQuery('#nex_abt_employment').click(function () { jQuery('html,body').animate({ scrollTop: jQuery('#nex_part_4').offset().top }, 200); });
        })
    </script>

    <!--侧边导航-->
    <div class="nex_abt_content">
        <div class="w1180">
            <div class="nexsdboxsdee nex_fellow">
                <ul>
                    <li class="cur"><a href="javascript:void(0)" id="nex_abt_intro">关于我们</a></li>
                    <li><a href="javascript:void(0)" id="nex_abt_contact">联系我们</a></li>
                    <li><a href="javascript:void(0)" id="nex_abt_friendlinks">友情链接</a></li>
                    <li><a href="javascript:void(0)" id="nex_abt_employment">招贤纳士</a></li>
                </ul>
            </div>

            <!--关于我们-->
            <div class="nex_abt_rights">
                <div class="nex_about_intro nex_about_intro_gy" id="nex_part_1">
                    <div class="nex_abt_bg"></div>
                    <div class="nex_abt_title nex_abt_title_abt"><span>关于我们</span></div>
                    <div class="nex_abtintro_txt"><!--[diy=nex_tropicles]--><div id="nex_tropicles" class="area"><div id="frameD9rWTM" class="frame move-span cl frame-1"><div id="frameD9rWTM_left" class="column frame-1-c"><div id="frameD9rWTM_left_temp" class="move-span temp"></div><div id="portal_block_139" class="block move-span"><div id="portal_block_139_content" class="dxb_bc"><div class="portal_block_summary">Neoconex（星点互联）成立于2008年，我们是一家专注用户体验设计开发与互联网品牌建设的设计公司，创立至今为17万客户提供了创新与专业的设计方案。设计服务范围包括：交互原型设计、产品视觉设计、网站设计与开发建设、移动及软件产品界面设计、图标设计、品牌及平面设计等。我们的价值与宗旨是为用户和客户打造最In的设计，用设计提升产品和企业价值。</div></div></div></div></div></div><!--[/diy]--></div>
                    <div class="nex_abtintro_txt"><!--[diy=nex_tropicles1]--><div id="nex_tropicles1" class="area"><div id="frameF4AHMe" class="frame move-span cl frame-1"><div id="frameF4AHMe_left" class="column frame-1-c"><div id="frameF4AHMe_left_temp" class="move-span temp"></div><div id="portal_block_140" class="block move-span"><div id="portal_block_140_content" class="dxb_bc"><div class="portal_block_summary">我们是追求品质与力求不断超越自己的团队，每一位成员也是亲密的伙伴，与公司一起成长与发展。我们尊重每次合作的机会与挑战，不断精进，力求完美。团队秉承专注、专业的设计服务思维，让客户通过设计发挥产品的最大价值，并发掘无限的可能。热爱设计并坚信设计的力量让我们不断前进…</div></div></div></div></div></div><!--[/diy]--></div>
                    <div class="nex_abtintro_txt">
                        <!--[diy=nex_tropicles2]--><div id="nex_tropicles2" class="area">
                            <div id="frameRE4E8u" class="frame move-span cl frame-1">
                                <div id="frameRE4E8u_left" class="column frame-1-c">
                                    <div id="frameRE4E8u_left_temp" class="move-span temp"></div><div id="portal_block_141" class="block move-span">
                                        <div id="portal_block_141_content" class="dxb_bc">
                                            <div class="portal_block_summary">
                                                从创始至今，我们的业务方向始终不变，专注做好一件事才能更好的追求高品质，这也是Neoconex（星点互联）存在的价值。在未来我们也是基于此信念而继续创造。
                                                在不断的创新和实践中总结出可持续和可信赖的设计流程，坚持与用户一起思考，用设计的方法发现问题、解决问题、输出设计方案，并实现客户产品和企业价值的提升。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[/diy]-->
                    </div>
                    <div class="nex_abtintro_txt"><!--[diy=nex_tropicles3]--><div id="nex_tropicles3" class="area"><div id="frameHz8bb4" class="frame move-span cl frame-1"><div id="frameHz8bb4_left" class="column frame-1-c"><div id="frameHz8bb4_left_temp" class="move-span temp"></div><div id="portal_block_142" class="block move-span"><div id="portal_block_142_content" class="dxb_bc"><div class="portal_block_summary">Neoconex（星点互联）10年来积累了大量优秀的项目案例，并验证了设计的价值。在不断的探索中总结经验，以结果为导向，继续为更多客户提供优秀的设计。</div></div></div></div></div></div><!--[/diy]--></div>
                </div>
                <div class="nex_about_intro nex_about_introx" id="nex_part_2">
                    <div class="nex_abt_title nex_abt_title_contact"><span>联系我们</span></div>
                    <div class="nex_contact_box">
                        <!--[diy=nex_contact_box]--><div id="nex_contact_box" class="area">
                            <div id="frameG3E24Z" class="frame move-span cl frame-1">
                                <div id="frameG3E24Z_left" class="column frame-1-c">
                                    <div id="frameG3E24Z_left_temp" class="move-span temp"></div><div id="portal_block_143" class="block move-span">
                                        <div id="portal_block_143_content" class="dxb_bc">
                                            <div class="portal_block_summary">
                                                <div class="nex_contact_map"><img src="template/nex_manga_181008/neoconex/about/map.jpg" /></div>
                                                <div class="nex_conact_infos">
                                                    <div class="nex_contact_info_top">为了便于合作沟通，我们的工作QQ及联系方式如下，欢迎各位小伙伴骚扰！</div>
                                                    <h5>广告合作：</h5>
                                                    <p>联系邮箱：1585096744@qq.com</p>
                                                    <h5>广告代理合作：</h5>
                                                    <p>联系邮箱：1585096744@qq.com</p>
                                                    <h5>市场合作：</h5>
                                                    <p>异业合作(平台/网站、流量、资源互换、赞助等）</p>
                                                    <h5>联系QQ：2991805749</h5>
                                                    <p>CP活动合作（专题活动、论坛活动）</p>
                                                    <h5>联系QQ：2953268987</h5>
                                                    <p>品牌、媒介合作（异业活动、展会、会议、赛事等）</p>
                                                    <h5>联系QQ：2991805749</h5>
                                                    <h5>友链交换：</h5>
                                                    <p>联系QQ：1585096744</p>
                                                    <h5>游戏专区友链交换;</h5>
                                                    <p>联系QQ：2584922158</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[/diy]-->

                        <div class="clear"></div>
                    </div>
                </div>
                <div class="nex_about_intro nex_about_introx" id="nex_part_3">
                    <div class="nex_abt_title nex_abt_title_links"><span>友情链接</span></div>
                    <div class="nex_contact_require">
                        <!--[diy=nex_contact_require]--><div id="nex_contact_require" class="area">
                            <div id="frameVR30HA" class="frame move-span cl frame-1">
                                <div id="frameVR30HA_left" class="column frame-1-c">
                                    <div id="frameVR30HA_left_temp" class="move-span temp"></div><div id="portal_block_144" class="block move-span">
                                        <div id="portal_block_144_content" class="dxb_bc">
                                            <div class="portal_block_summary">
                                                <p>**首页内页 ALEXA10000以内，PR6以上内容相关的优先;</p>
                                                <p>iPhone频道 PR5 以上内容相关;</p>
                                                <p>安卓频道 PR5以上内容相关;</p>
                                                <p>iPad频道 PR5以上内容相关;</p>
                                                <p>新游频道 PR5以上内容相关;</p>
                                                <p>YY八卦频道 日均PV8万以上内容相关;</p>
                                                <p>单机频道 日均IP2万以上内容相关;</p>
                                                <p>资讯中心 ALEXA排名2万以内，内容相关，有内容合作的优先互换</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[/diy]-->
                    </div>
                    <div class="nex_linkbox">
                        <ul>
                            <!--[diy=nex_linkbox]-->
                            <div id="nex_linkbox" class="area"><div id="frameFZMZ8Z" class="frame move-span cl frame-1"><div id="frameFZMZ8Z_left" class="column frame-1-c"><div id="frameFZMZ8Z_left_temp" class="move-span temp"></div><div id="portal_block_145" class="block move-span"><div id="portal_block_145_content" class="dxb_bc"><li><a href="http://www.discuz.net" target="_blank">官方论坛</a></li><li><a href="http://www.comsenz.com" target="_blank">Comsenz</a></li><li><a href="http://www.verydz.com/" target="_blank">专用主机</a></li></div></div></div></div></div><!--[/diy]-->

                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="nex_about_intro nex_about_introx" id="nex_part_4">
                    <div class="nex_abt_title nex_abt_title_zhaopin"><span>招贤纳士</span></div>
                    <div class="nex_zhaopin">
                        <dl>
                            <!--[diy=nex_zhaopin]-->
                            <div id="nex_zhaopin" class="area">
                                <div id="frameBXMM4U" class="frame move-span cl frame-1">
                                    <div id="frameBXMM4U_left" class="column frame-1-c">
                                        <div id="frameBXMM4U_left_temp" class="move-span temp"></div><div id="portal_block_146" class="block move-span">
                                            <div id="portal_block_146_content" class="dxb_bc">
                                                <div class="portal_block_summary">
                                                    <dd>
                                                        <h5>二次元网站编辑 | Content Editor</h5>
                                                        <h6>岗位职责：</h6>
                                                        <p>1.负责网站内容的编辑整理</p>
                                                        <p>2.负责网站用户的关系维护，引导用户投稿</p>
                                                        <p>3.发掘文化圈热点，及时提出运营方案</p>
                                                        <h6>任职要求：</h6>
                                                        <p>1.热爱 ACG 文化，对音乐、声优、国内配音社团有较为深入的了解</p>
                                                        <p>2.擅长使用主流社交软件，与用户及陌生人开展交流</p>
                                                        <p>3.掌握 PS 或同类图形软件的使用。熟练使用视频/音频后期软件者优先</p>
                                                        <p>4.二次元网站 UP 主、微博大 V 、微信公众号运营优先（请将相关链接附于简历）</p>
                                                    </dd>
                                                    <dd>
                                                        <h5>Android 高级开发工程师 | Android Senior Engineer</h5>
                                                        <h6>岗位职责：</h6>
                                                        <p>1.负责 MissEvan Android 平台应用的开发</p>
                                                        <p>2.负责 App 稳定性相关的优化</p>
                                                        <p>3.参与移动平台软件框架的研究，设计和实现、关键技术验证和选型等工作</p>
                                                        <p>4.参与移动规范制订、技术文档编写</p>
                                                        <h6>任职要求：</h6>
                                                        <p>1.3 年以上客户端开发经验，精通 Android 应用开发</p>
                                                        <p>2.熟悉 Android 系统源码者优先，有 NDK 相关开发经验</p>
                                                        <p>3.有主导完成优秀应用或大型项目，对高性能程序设计、架构有较多的工程经验者优先</p>
                                                        <h6>优先考虑：：</h6>
                                                        <p>1.热爱二次元文化，熟悉电竞、动漫、游戏或电影等</p>
                                                        <p>2.参与开源项目或有自己的开源项目</p>
                                                    </dd>
                                                    <dd>
                                                        <h5>PHP 研发工程师 | PHP Developer</h5>
                                                        <h6>岗位职责：</h6>
                                                        <p>1.负责后端服务的技术开发工作</p>
                                                        <p>2.独立完成后端功能的设计、开发工作，以及性能优化</p>
                                                        <p>3.负责接口的开发维护和调试。</p>
                                                        <p>4.对项目的整体规划给出自己的意见和建议</p>
                                                        <h6>任职要求：</h6>
                                                        <p>1.扎实的 PHP 编程基础，熟悉 Linux、Nginx 及 MySQL 数据库应用开发</p>
                                                        <p>2.熟悉 MVC 开发模式，了解主流的 PHP 缓存技术及网站系统性能优化技术</p>
                                                        <p>3.熟悉 PHP 后端服务开发</p>
                                                        <p>4.对系统性能优化有一定认知</p>
                                                        <p>5.具备强烈的责任心、进取心、求知欲及团队合作精神，有较强的沟通及协调能力</p>
                                                        <p>6.能够独立担任一定开发工作的设计、开发和上线</p>
                                                        <h6>优先考虑：：</h6>
                                                        <p>1.热爱二次元文化，熟悉电竞、动漫、游戏或电影等</p>
                                                        <p>2.参与开源项目或有自己的开源项目</p>
                                                    </dd>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--[/diy]-->

                        </dl>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    <script type="text/javascript">
        jQuery(".nexsdboxsdee ul li").each(function (s) {
            jQuery(this).hover(function () {
                jQuery(this).addClass("cur").siblings().removeClass("cur");
            })
        })
    </script>
    <script type="text/javascript">
        jQuery(window).scroll(function () {
            var rightH = jQuery('.nexsdboxsdee').height();
            var t = jQuery(".nexsdboxsdee").offset().top;
            var cH = jQuery(document).height();
            var h = jQuery(this).scrollTop();
            var fH = jQuery('.nexfooter').height();
            var wH = jQuery(window).height();
            var hH = cH - (h + wH);
            if (h > rightH && hH > fH) {
                jQuery(".nex_fellow").addClass('nexfixed');
            } else {
                jQuery(".nex_fellow").removeClass('nexfixed');
            }
        });
    </script>




</div>
@section Header{
    <link rel="stylesheet" type="text/css" href="data/cache/style_2_common.css" tppabs="http://47.100.112.22/demo/manga/data/cache/style_2_common.css?LBz" />
    <link rel="stylesheet" type="text/css" href="data/cache/style_2_portal_index.css" tppabs="http://47.100.112.22/demo/manga/data/cache/style_2_portal_index.css?LBz" />
    <script src="static/js/common.js" tppabs="http://47.100.112.22/demo/manga/static/js/common.js?LBz" type="text/javascript"></script>
}