@{
    Layout = "_AiliDaoLayout";
    ViewBag.selectPage = 10;
}
<div id="wp" class="wp">
    <!--[diy=diy_chart]--><div id="diy_chart" class="area"></div><!--[/diy]-->
    <div id="pt" class="bm cl">
        <div class="w1180">
            <div class="y">
                <div id="an">
                    <dl class="cl">
                        <dt class="z xw1">公告:&nbsp;</dt>
                        <dd>
                            <div id="anc"><ul id="ancl"><li><span><a href="forum.php?mod=announcement&id=2" target="_blank" class="xi2">超人气学园青春故事！《学园孤岛》真人版预告公开</a></span><em>(2018-11-12)</em></li><li><span><a href="forum.php?mod=announcement&id=1" target="_blank" class="xi2">表情包的巅峰对决?!双十一萤火虫疯玩趴全明星大公开!</a></span><em>(2018-11-12)</em></li></ul></div>
                        </dd>
                    </dl>
                </div>
                <script type="text/javascript">announcement();</script>
            </div>
            <div class="z">
                <a href="./" class="nvhm" title="首页">动漫次元视频资源综合社区</a><em>&raquo;</em><a href="forum.php">论坛</a>
            </div>
            <div class="z"></div>
            <div class="clear"></div>
        </div>
    </div>

    <style id="diy_style" type="text/css"></style>

    <div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>
    <div class="w1180">
        <div id="ct" class="wp cl ct2">
            <!--推荐-->
            <div class="nex_bbs_tuijian">
                <div class="nex_common_hd">
                    <span>论坛首页推荐</span>
                    <i class="nex_sp_line"></i>
                    <a class="nex_more_btns" href="#" target="_blank">更多</a>
                </div>
                <div class="nex_bbs_tjbox">
                    <ul>
                        <!--[diy=nex_bbs_tjbox]-->
                        <div id="nex_bbs_tjbox" class="area">
                            <div id="frameC8eDM0" class="frame move-span cl frame-1">
                                <div id="frameC8eDM0_left" class="column frame-1-c">
                                    <div id="frameC8eDM0_left_temp" class="move-span temp"></div><div id="portal_block_147" class="block move-span">
                                        <div id="portal_block_147_content" class="dxb_bc">
                                            <li class="nex_bbs_tjspi">
                                                <a href="forum.php?mod=viewthread&tid=81" target="_blank">
                                                    <img src="data/attachment/forum/201811/04/143333htrbjgjzu8j6lgl2.gif" width="378" height="228" />
                                                    <h5>重做初定版，那年被禁播的动漫还有人记得吗</h5>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=111" target="_blank">
                                                    <img src="data/attachment/block/75/7594d6d5dea4a9a7565bb9cdb164d1e3.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>《刀剑神域：圣母圣咏》愿优纪的全新旅程能</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>《刀剑神域：圣母圣咏》愿优纪的全新旅程能</h5>
                                                        <div class="nex_rolling_in_author">薯片先生</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">819</span>
                                                            <span class="nex_rolling_replies">3</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=103" target="_blank">
                                                    <img src="data/attachment/block/5e/5ec25572f27f35ef306d9c589ac4a006.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>扔个技能都要花98个亿？！带你看史上最“烧</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>扔个技能都要花98个亿？！带你看史上最“烧</h5>
                                                        <div class="nex_rolling_in_author">面饼仙儿</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">646</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=72" target="_blank">
                                                    <img src="data/attachment/forum/201811/04/140021u88tllj85lliliic.gif" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>YouTube一分钟：“不做你朋友”特朗普 带感</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>YouTube一分钟：“不做你朋友”特朗普 带感</h5>
                                                        <div class="nex_rolling_in_author">萌萌哒的黎幻酱</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">540</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=108" target="_blank">
                                                    <img src="data/attachment/block/e9/e9f192b1277a2c3818e4563a5884af2c.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>【青春野狼/樱岛麻衣】只有你不在的世界 - </h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>【青春野狼/樱岛麻衣】只有你不在的世界 - </h5>
                                                        <div class="nex_rolling_in_author">admin</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">533</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=105" target="_blank">
                                                    <img src="data/attachment/block/41/41f019503d4b6c72778b58c6f3c913fe.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>[战斗吧歌姬][10/18录播]妙龄少女大尺度pla</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>[战斗吧歌姬][10/18录播]妙龄少女大尺度pla</h5>
                                                        <div class="nex_rolling_in_author">admin</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">515</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=110" target="_blank">
                                                    <img src="data/attachment/block/86/86041306e98e9096132bec05ca1e2c04.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>【高燃/催泪/战舰/心智模型】海雾の世界—</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>【高燃/催泪/战舰/心智模型】海雾の世界—</h5>
                                                        <div class="nex_rolling_in_author">薯片先生</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">389</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=104" target="_blank">
                                                    <img src="data/attachment/block/ef/efcac93f6e3a0dbd7a0f8132c36efb23.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>你真的了解你的老婆们嘛？细数白羊座的女性</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>你真的了解你的老婆们嘛？细数白羊座的女性</h5>
                                                        <div class="nex_rolling_in_author">admin</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">356</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=91" target="_blank">
                                                    <img src="data/attachment/block/de/dea51623600be5e6146aa0dd8bd11cee.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>無敵鐵金剛/魔神Z 剧场版: INFINITY (中文</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>無敵鐵金剛/魔神Z 剧场版: INFINITY (中文</h5>
                                                        <div class="nex_rolling_in_author">揣猫的白丸</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">351</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=70" target="_blank">
                                                    <img src="data/attachment/block/ad/addec85c3f5c0a48607539830d2944c1.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>【AMD/恶搞】每天回家都会看到我的新番在装</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>【AMD/恶搞】每天回家都会看到我的新番在装</h5>
                                                        <div class="nex_rolling_in_author">薯片先生</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">323</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=97" target="_blank">
                                                    <img src="data/attachment/block/d5/d517c57ba0a2f342aa68d9642a0e44ee.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>【Fate史诗级MAD】给我一首歌的时间讲述fat</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>【Fate史诗级MAD】给我一首歌的时间讲述fat</h5>
                                                        <div class="nex_rolling_in_author">admin</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">322</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=109" target="_blank">
                                                    <img src="data/attachment/block/1e/1e76abd46f4371f46ebc867f9fe926ec.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>拿尼加 | 受到詛咒的，是許願的人</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>拿尼加 | 受到詛咒的，是許願的人</h5>
                                                        <div class="nex_rolling_in_author">薯片先生</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">316</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=106" target="_blank">
                                                    <img src="data/attachment/block/ff/ff2427348f50ca3c194e1186e82e6cc4.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>【卡路里】魔法禁书目录和某科学的超电磁炮</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>【卡路里】魔法禁书目录和某科学的超电磁炮</h5>
                                                        <div class="nex_rolling_in_author">薯片先生</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">315</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=83" target="_blank">
                                                    <img src="data/attachment/block/a5/a5f7bea751a7cde3bd4a07e31764523b.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>看完智商仿佛被蹂躏，十月最令人窒息动画非</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>看完智商仿佛被蹂躏，十月最令人窒息动画非</h5>
                                                        <div class="nex_rolling_in_author">不来点妹汁吗</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">291</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><li class="nex_bbs_tjspk">
                                                <a href="forum.php?mod=viewthread&tid=86" target="_blank">
                                                    <img src="data/attachment/block/c8/c89abeecd513542542ecd26c32b33d94.jpg" width="378" height="228" />
                                                    <div class="nex_rolling_out">
                                                        <h5>【BDRip1080P+剧场版】空之境界：杀人考察</h5>
                                                    </div>
                                                    <div class="nex_rolling_in">
                                                        <h5>【BDRip1080P+剧场版】空之境界：杀人考察</h5>
                                                        <div class="nex_rolling_in_author">不来点妹汁吗</div>
                                                        <div class="nex_rolling_in_btms">
                                                            <span class="nex_rolling_views">268</span>
                                                            <span class="nex_rolling_replies">0</span>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--[/diy]-->

                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <div class="nex_mid_ads">
                <ul>
                    <li><!--[diy=nex_mid_ads1]--><div id="nex_mid_ads1" class="area"><div id="frameznHn00" class="frame move-span cl frame-1"><div id="frameznHn00_left" class="column frame-1-c"><div id="frameznHn00_left_temp" class="move-span temp"></div><div id="portal_block_148" class="block move-span"><div id="portal_block_148_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/index/ads/index_ads_pop1.jpg" /></a></div></div></div></div></div></div><!--[/diy]--></li>
                    <li><!--[diy=nex_mid_ads2]--><div id="nex_mid_ads2" class="area"><div id="frameUbe3Js" class="frame move-span cl frame-1"><div id="frameUbe3Js_left" class="column frame-1-c"><div id="frameUbe3Js_left_temp" class="move-span temp"></div><div id="portal_block_149" class="block move-span"><div id="portal_block_149_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/index/ads/index_ads_pop2.jpg" /></a></div></div></div></div></div></div><!--[/diy]--></li>
                    <li><!--[diy=nex_mid_ads3]--><div id="nex_mid_ads3" class="area"><div id="frameKhdsED" class="frame move-span cl frame-1"><div id="frameKhdsED_left" class="column frame-1-c"><div id="frameKhdsED_left_temp" class="move-span temp"></div><div id="portal_block_150" class="block move-span"><div id="portal_block_150_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/index/ads/index_ads_pop3.jpg" /></a></div></div></div></div></div></div><!--[/diy]--></li>
                    <div class="clear"></div>
                </ul>
            </div>

            <div class="mn">
                <div id="chart" class="bm bw0 cl">
                    <p class="chart z">
                        <span class="nex_jinri">今日<br />0</span><span class="nex_zuori">昨日<br />0</span><span class="nex_tiezishu">帖子<br />293</span><span class="nex_shuzi">会员<br />17</span>
                    </p>
                    <div class="y">
                        <a href="forum.php?mod=guide&amp;view=new" title="最新回复" class="xi2">最新回复</a>                            <span class="pipe">|</span>欢迎新会员: <em><a href="home.php?mod=space&amp;username=w991338" target="_blank" class="xi2">w991338</a></em>
                    </div>
                </div>


                <div class="fl bm">


                    <div class="bm bmw  flg cl">
                        <div class="bm_h cl">
                            <span class="o">
                                <img id="category_1_img" src="template/nex_manga_181008/neoconex/discuz/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_1');" />
                            </span>
                            <h4><a href="forum.php?gid=1" style="">ACG广场</a></h4>
                        </div>
                        <div id="category_1" class="bm_c" style="">
                            <table cellspacing="0" cellpadding="0" class="fl_tb">
                                <tr>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=2"><img src="data/attachment/common/c8/common_2_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=2">ACG视频</a>


                                            </dt>
                                            <em>主题: 58</em>&nbsp;
                                            <em>帖数: 69</em>
                                            <dd class="xg2">B站A站优酷视频分享交流</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=109&amp;goto=lastpost#lastpost" class="xi2">拿尼加 | 受到詛咒的，是許願的 ...</a> <cite>2020-3-23 17:07 <a href="home.php?mod=space&username=%CA%ED%C6%AC%CF%C8%C9%FA">薯片先生</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=36"><img src="data/attachment/common/19/common_36_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=36">Cosplay</a>


                                            </dt>
                                            <em>主题: 25</em>&nbsp;
                                            <em>帖数: 25</em>
                                            <dd class="xg2">cosplay美图摄影</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=23&amp;goto=lastpost#lastpost" class="xi2">待枫叶落满长安，再续这段缘</a> <cite>2019-10-1 18:32 <a href="home.php?mod=space&username=%B4%A7%C3%A8%B5%C4%B0%D7%CD%E8">揣猫的白丸</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr class="fl_row">
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=37"><img src="data/attachment/common/a5/common_37_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=37">P站美图</a>


                                            </dt>
                                            <em>主题: 25</em>&nbsp;
                                            <em>帖数: 25</em>
                                            <dd class="xg2">二次元美图展示</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=43&amp;goto=lastpost#lastpost" class="xi2">高雅又神秘 纱巾特辑</a> <cite>2019-11-11 00:05 <a href="home.php?mod=space&username=%C3%E6%B1%FD%CF%C9%B6%F9">面饼仙儿</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=38"><img src="data/attachment/common/a5/common_38_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=38">ACG讨论</a>


                                            </dt>
                                            <em>主题: 23</em>&nbsp;
                                            <em>帖数: 41</em>
                                            <dd class="xg2">吐槽ACG界发生的新鲜事儿</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=66&amp;goto=lastpost#lastpost" class="xi2">日本网友列出“阿宅疲劳等级”  ...</a> <cite>2019-12-3 05:22 <a href="home.php?mod=space&username=admin">admin</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr class="fl_row">
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=40"><img src="data/attachment/common/d6/common_40_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=40">漫画下载</a>


                                            </dt>
                                            <em>主题: 37</em>&nbsp;
                                            <em>帖数: 39</em>
                                            <dd class="xg2">次元漫画，漫画下载资源集结地</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=172&amp;goto=lastpost#lastpost" class="xi2">Tiny Evil 4</a> <cite>2019-11-27 11:07 <a href="home.php?mod=space&username=KristenMercer">KristenMercer</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=39"><img src="data/attachment/common/d6/common_39_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=39">次元漫画</a>


                                            </dt>
                                            <em>主题: 27</em>&nbsp;
                                            <em>帖数: 31</em>
                                            <dd class="xg2">短文、轻小说发布地</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=130&amp;goto=lastpost#lastpost" class="xi2">[上向だい] ハメ撮りガールズ [D ...</a> <cite>2020-1-30 07:14 <a href="home.php?mod=space&username=admin">admin</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr class="fl_row">
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=58"><img src="data/attachment/common/66/common_58_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=58">动漫音乐</a>


                                            </dt>
                                            <em>主题: 30</em>&nbsp;
                                            <em>帖数: 30</em>
                                            <dd class="xg2">动漫音乐单曲欣赏</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=296&amp;goto=lastpost#lastpost" class="xi2">辉夜大小姐想让我告白～天才们的 ...</a> <cite>2020-3-19 22:42 <a href="home.php?mod=space&username=admin">admin</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=59"><img src="data/attachment/common/09/common_59_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=59">音乐歌单</a>


                                            </dt>
                                            <em>主题: 10</em>&nbsp;
                                            <em>帖数: 10</em>
                                            <dd class="xg2">热门歌单欣赏</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=266&amp;goto=lastpost#lastpost" class="xi2">东方Project官方音乐</a> <cite>2020-3-19 15:41 <a href="home.php?mod=space&username=admin">admin</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="bm bmw  flg cl">
                        <div class="bm_h cl">
                            <span class="o">
                                <img id="category_41_img" src="template/nex_manga_181008/neoconex/discuz/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_41');" />
                            </span>
                            <h4><a href="forum.php?gid=41" style="">ACG资源区</a></h4>
                        </div>
                        <div id="category_41" class="bm_c" style="">
                            <table cellspacing="0" cellpadding="0" class="fl_tb">
                                <tr>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=42"><img src="data/attachment/common/a1/common_42_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=42">番剧动漫</a>


                                            </dt>
                                            <em>主题: 22</em>&nbsp;
                                            <em>帖数: 22</em>
                                            <dd class="xg2">新番动画、OVA、剧场版下载</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=246&amp;goto=lastpost#lastpost" class="xi2">阿衰 第二季</a> <cite>2019-10-25 18:34 <a href="home.php?mod=space&username=%C3%E6%B1%FD%CF%C9%B6%F9">面饼仙儿</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=43"><img src="data/attachment/common/17/common_43_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=43">漫之图书馆</a>


                                            </dt>
                                            <em>主题: 0</em>&nbsp;
                                            <em>帖数: 0</em>
                                            <dd class="xg2">连载&amp;完结&amp;同人漫画下载</dd>
                                            <dd>
                                                <em>本版还没有任何帖子</em>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr class="fl_row">
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=44"><img src="data/attachment/common/f7/common_44_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=44">萌图画廊</a>


                                            </dt>
                                            <em>主题: 0</em>&nbsp;
                                            <em>帖数: 0</em>
                                            <dd class="xg2">萌图、壁纸、CG分享</dd>
                                            <dd>
                                                <em>本版还没有任何帖子</em>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=45"><img src="data/attachment/common/6c/common_45_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=45">漫音缭绕</a>


                                            </dt>
                                            <em>主题: 0</em>&nbsp;
                                            <em>帖数: 0</em>
                                            <dd class="xg2">OP&amp;ED&amp;BGM，二次元音乐视听</dd>
                                            <dd>
                                                <em>本版还没有任何帖子</em>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr class="fl_row">
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=46"><img src="data/attachment/common/d9/common_46_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=46">主题萌化馆</a>


                                            </dt>
                                            <em>主题: 0</em>&nbsp;
                                            <em>帖数: 0</em>
                                            <dd class="xg2">动漫主题、萌化插件分享</dd>
                                            <dd>
                                                <em>本版还没有任何帖子</em>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=47"><img src="data/attachment/common/67/common_47_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=47">轻之书社</a>


                                            </dt>
                                            <em>主题: 0</em>&nbsp;
                                            <em>帖数: 0</em>
                                            <dd class="xg2">ACG文学下载</dd>
                                            <dd>
                                                <em>本版还没有任何帖子</em>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="bm bmw  flg cl">
                        <div class="bm_h cl">
                            <span class="o">
                                <img id="category_48_img" src="template/nex_manga_181008/neoconex/discuz/collapsed_no.gif" title="收起/展开" alt="收起/展开" onclick="toggle_collapse('category_48');" />
                            </span>
                            <h4><a href="forum.php?gid=48" style="">小白招待区</a></h4>
                        </div>
                        <div id="category_48" class="bm_c" style="">
                            <table cellspacing="0" cellpadding="0" class="fl_tb">
                                <tr>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=49"><img src="data/attachment/common/f4/common_49_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=49">新人报道</a>


                                            </dt>
                                            <em>主题: 1</em>&nbsp;
                                            <em>帖数: 1</em>
                                            <dd class="xg2">新人来报道,都有糖喔!</dd>
                                            <dd>
                                                <a href="forum.php?mod=redirect&amp;tid=297&amp;goto=lastpost#lastpost" class="xi2">123</a> <cite>2020-3-23 17:21 <a href="home.php?mod=space&username=admin">admin</a></cite>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=50"><img src="data/attachment/common/c0/common_50_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=50">社区事务所</a>


                                            </dt>
                                            <em>主题: 0</em>&nbsp;
                                            <em>帖数: 0</em>
                                            <dd class="xg2">举报、勋章申请、版主申请等</dd>
                                            <dd>
                                                <em>本版还没有任何帖子</em>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                                <tr class="fl_row">
                                    <td class="fl_g" width="49.9%">
                                        <div class="fl_icn_g nex_bbs_icon nex_actions fadeIn" style="width: 140px;">
                                            <div class="nex_upload_bbsicon"><a href="forum.php?mod=forumdisplay&fid=51"><img src="data/attachment/common/28/common_51_icon.jpg" align="left" alt="" /></a></div>
                                        </div>
                                        <dl style="margin-left: 140px;">
                                            <dt>
                                                <a href="forum.php?mod=forumdisplay&fid=51">通告板</a>


                                            </dt>
                                            <em>主题: 0</em>&nbsp;
                                            <em>帖数: 0</em>
                                            <dd class="xg2">存放社区通知、公告等置顶主题</dd>
                                            <dd>
                                                <em>本版还没有任何帖子</em>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td width="49.9%">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="mtn">
                    <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
                </div>

                <div id="online" class="bm oll">
                    <div class="bm_h">
                        <span class="o"><a href="forum.php?showoldetails=no#online" title="收起/展开"><img src="template/nex_manga_181008/neoconex/discuz/collapsed_no.gif" alt="收起/展开" /></a></span>
                        <h3>
                            <strong><a href="home.php?mod=space&amp;do=friend&amp;view=online&amp;type=member">在线会员</a></strong>
                            <span class="xs1">
                                - <strong>15</strong> 人在线
                                - <strong>0</strong> 会员(<strong>0</strong> 隐身),
                                <strong>15</strong> 位游客
                                - 最高记录是 <strong>61</strong> 于 <strong>2020-1-23</strong>.
                            </span>
                        </h3>
                    </div>
                    <dl id="onlinelist" class="bm_c">
                        <dt class="ptm pbm bbda"><img src="static/image/common/online_admin.gif" /> 管理员 &nbsp; &nbsp; &nbsp; <img src="static/image/common/online_supermod.gif" /> 超级版主 &nbsp; &nbsp; &nbsp; <img src="static/image/common/online_moderator.gif" /> 版主 &nbsp; &nbsp; &nbsp; <img src="static/image/common/online_member.gif" /> 会员 &nbsp; &nbsp; &nbsp; </dt>
                        <dd class="ptm pbm">
                            <ul class="cl">
                                <li style="width: auto">当前只有游客或隐身会员在线</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="bm lk">
                    <div id="category_lk" class="bm_c ptm">
                        <ul class="m mbn cl"><li class="lk_logo mbm bbda cl"><img src="static/image/common/logo_88_31.gif" border="0" alt="官方论坛" /><div class="lk_content z"><h5><a href="http://www.discuz.net" target="_blank">官方论坛</a></h5><p>提供最新 Discuz! 产品新闻、软件下载与技术交流</p></div></li></ul>
                        <ul class="x mbm cl">
                            <li><a href="http://www.comsenz.com" target="_blank" title="Comsenz">Comsenz</a></li>
                            <li><a href="http://www.verydz.com/" target="_blank" title="专用主机">专用主机</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="sd" class="sd nex_sd">
                <div class="drag">
                    <!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
                </div>
                <!--热门排行-->
                <div class="nex_dz_rksidebox">
                    <div class="nex_discuz_sidebox_top">
                        <span>热门排行榜</span>
                        <ul>
                            <li class="on">日榜</li>
                            <i class="nex_tab_line"></i>
                            <li>周榜</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="nex_discuz_hotread">
                        <ul>
                            <li style="display:block;">
                                <div class="nex_ranklistings">
                                    <dl>
                                        <!--[diy=nex_ranklistings]-->
                                        <div id="nex_ranklistings" class="area">
                                            <div id="frameAD0hS0" class="frame move-span cl frame-1">
                                                <div id="frameAD0hS0_left" class="column frame-1-c">
                                                    <div id="frameAD0hS0_left_temp" class="move-span temp"></div><div id="portal_block_151" class="block move-span">
                                                        <div id="portal_block_151_content" class="dxb_bc">
                                                            <dd class="curs">
                                                                <div class="nex_rk_output">
                                                                    <em class="nex_rknum_1">1</em>
                                                                    <a href="forum.php?mod=viewthread&tid=81" target="_blank">重做初定版，那年被禁播的动漫还有人记得吗</a>
                                                                    <span>共2112阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em class="nex_rknum_1">1</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=81" target="_blank"><img src="data/attachment/forum/201811/04/143333htrbjgjzu8j6lgl2.gif" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=81" target="_blank">重做初定版，那年被禁播的动漫还有人记得吗</a></h5>
                                                                        <p>KristenMercer</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em class="nex_rknum_2">2</em>
                                                                    <a href="forum.php?mod=viewthread&tid=111" target="_blank">《刀剑神域：圣母圣咏》愿优纪的全新旅程能</a>
                                                                    <span>共818阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em class="nex_rknum_2">2</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=111" target="_blank"><img src="data/attachment/block/e2/e2ef62620aeeca99b9d0ae10003d7f08.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=111" target="_blank">《刀剑神域：圣母圣咏》愿优纪的全新旅程能</a></h5>
                                                                        <p>薯片先生</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em class="nex_rknum_3">3</em>
                                                                    <a href="forum.php?mod=viewthread&tid=103" target="_blank">扔个技能都要花98个亿？！带你看史上最“烧</a>
                                                                    <span>共646阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em class="nex_rknum_3">3</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=103" target="_blank"><img src="data/attachment/block/89/89bd48172f6fa4f8c93669cb32291137.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=103" target="_blank">扔个技能都要花98个亿？！带你看史上最“烧</a></h5>
                                                                        <p>面饼仙儿</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>4</em>
                                                                    <a href="forum.php?mod=viewthread&tid=72" target="_blank">YouTube一分钟：“不做你朋友”特朗普 带感</a>
                                                                    <span>共540阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>4</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=72" target="_blank"><img src="data/attachment/forum/201811/04/140021u88tllj85lliliic.gif" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=72" target="_blank">YouTube一分钟：“不做你朋友”特朗普 带感</a></h5>
                                                                        <p>萌萌哒的黎幻酱</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>5</em>
                                                                    <a href="forum.php?mod=viewthread&tid=108" target="_blank">【青春野狼/樱岛麻衣】只有你不在的世界 - </a>
                                                                    <span>共533阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>5</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=108" target="_blank"><img src="data/attachment/block/34/3434a089d778f27a6b80503768748fc1.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=108" target="_blank">【青春野狼/樱岛麻衣】只有你不在的世界 - </a></h5>
                                                                        <p>admin</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>6</em>
                                                                    <a href="forum.php?mod=viewthread&tid=105" target="_blank">[战斗吧歌姬][10/18录播]妙龄少女大尺度pla</a>
                                                                    <span>共514阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>6</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=105" target="_blank"><img src="data/attachment/block/c8/c802f6b51403996efa9bdc86e5700efb.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=105" target="_blank">[战斗吧歌姬][10/18录播]妙龄少女大尺度pla</a></h5>
                                                                        <p>admin</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>7</em>
                                                                    <a href="forum.php?mod=viewthread&tid=110" target="_blank">【高燃/催泪/战舰/心智模型】海雾の世界—</a>
                                                                    <span>共388阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>7</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=110" target="_blank"><img src="data/attachment/block/1d/1d9c30685ab6591de97e098db027bd00.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=110" target="_blank">【高燃/催泪/战舰/心智模型】海雾の世界—</a></h5>
                                                                        <p>薯片先生</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>8</em>
                                                                    <a href="forum.php?mod=viewthread&tid=104" target="_blank">你真的了解你的老婆们嘛？细数白羊座的女性</a>
                                                                    <span>共356阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>8</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=104" target="_blank"><img src="data/attachment/block/48/4850f973026c5105be14f4c7c1c1b3c3.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=104" target="_blank">你真的了解你的老婆们嘛？细数白羊座的女性</a></h5>
                                                                        <p>admin</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>9</em>
                                                                    <a href="forum.php?mod=viewthread&tid=91" target="_blank">無敵鐵金剛/魔神Z 剧场版: INFINITY (中文</a>
                                                                    <span>共351阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>9</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=91" target="_blank"><img src="data/attachment/block/0b/0bdbcbf297dc139c8455dac019d91db8.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=91" target="_blank">無敵鐵金剛/魔神Z 剧场版: INFINITY (中文</a></h5>
                                                                        <p>揣猫的白丸</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>10</em>
                                                                    <a href="forum.php?mod=viewthread&tid=70" target="_blank">【AMD/恶搞】每天回家都会看到我的新番在装</a>
                                                                    <span>共323阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>10</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=70" target="_blank"><img src="data/attachment/block/83/83589c5e18c2c2b44a0b009a080a03ed.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=70" target="_blank">【AMD/恶搞】每天回家都会看到我的新番在装</a></h5>
                                                                        <p>薯片先生</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--[/diy]-->

                                    </dl>
                                </div>
                            </li>
                            <li>
                                <div class="nex_ranklistings">
                                    <dl>
                                        <!--[diy=nex_ranklistings1]-->
                                        <div id="nex_ranklistings1" class="area">
                                            <div id="frameXjbN5n" class="frame move-span cl frame-1">
                                                <div id="frameXjbN5n_left" class="column frame-1-c">
                                                    <div id="frameXjbN5n_left_temp" class="move-span temp"></div><div id="portal_block_152" class="block move-span">
                                                        <div id="portal_block_152_content" class="dxb_bc">
                                                            <dd class="curs">
                                                                <div class="nex_rk_output">
                                                                    <em class="nex_rknum_1">1</em>
                                                                    <a href="forum.php?mod=viewthread&tid=66" target="_blank">日本网友列出“阿宅疲劳等级” 满级就可以</a>
                                                                    <span>共221阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em class="nex_rknum_1">1</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=66" target="_blank"><img src="data/attachment/block/37/371c9194b69c70203eb49b74fc686754.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=66" target="_blank">日本网友列出“阿宅疲劳等级” 满级就可以</a></h5>
                                                                        <p>admin</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em class="nex_rknum_2">2</em>
                                                                    <a href="forum.php?mod=viewthread&tid=111" target="_blank">《刀剑神域：圣母圣咏》愿优纪的全新旅程能</a>
                                                                    <span>共818阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em class="nex_rknum_2">2</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=111" target="_blank"><img src="data/attachment/block/e2/e2ef62620aeeca99b9d0ae10003d7f08.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=111" target="_blank">《刀剑神域：圣母圣咏》愿优纪的全新旅程能</a></h5>
                                                                        <p>薯片先生</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em class="nex_rknum_3">3</em>
                                                                    <a href="forum.php?mod=viewthread&tid=65" target="_blank">《女高中生的无用日常》动画化决定</a>
                                                                    <span>共162阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em class="nex_rknum_3">3</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=65" target="_blank"><img src="data/attachment/block/fa/fa6525432bb6fa11e11f16ecd86259b0.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=65" target="_blank">《女高中生的无用日常》动画化决定</a></h5>
                                                                        <p>萌萌哒的黎幻酱</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>4</em>
                                                                    <a href="forum.php?mod=viewthread&tid=135" target="_blank">艦これおまけ本まとめ (艦隊これくしょん -</a>
                                                                    <span>共821阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>4</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=135" target="_blank"><img src="data/attachment/block/08/08c71f3e4984d259759bcf12a33b68b9.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=135" target="_blank">艦これおまけ本まとめ (艦隊これくしょん -</a></h5>
                                                                        <p>KristenMercer</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>5</em>
                                                                    <a href="forum.php?mod=viewthread&tid=85" target="_blank">孤岛惊魂5片尾曲《We Will Rise Again》自</a>
                                                                    <span>共239阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>5</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=85" target="_blank"><img src="data/attachment/block/07/0748c1ad42e2f744afa97003eeb705d3.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=85" target="_blank">孤岛惊魂5片尾曲《We Will Rise Again》自</a></h5>
                                                                        <p>不来点妹汁吗</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>6</em>
                                                                    <a href="forum.php?mod=viewthread&tid=169" target="_blank">旅館で君と逃避行 (BanG Dream!)</a>
                                                                    <span>共222阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>6</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=169" target="_blank"><img src="data/attachment/block/1f/1f2b83dea798053cf607816ee1586684.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=169" target="_blank">旅館で君と逃避行 (BanG Dream!)</a></h5>
                                                                        <p>薯片先生</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>7</em>
                                                                    <a href="forum.php?mod=viewthread&tid=89" target="_blank">胆小狗英雄 第三季Courage The Cowardly Do</a>
                                                                    <span>共248阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>7</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=89" target="_blank"><img src="data/attachment/block/47/471857e243b879446963ff2479bcea66.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=89" target="_blank">胆小狗英雄 第三季Courage The Cowardly Do</a></h5>
                                                                        <p>揣猫的白丸</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>8</em>
                                                                    <a href="forum.php?mod=viewthread&tid=175" target="_blank">与家里蹲妹妹一起 引きこもり妹&amp;</a>
                                                                    <span>共333阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>8</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=175" target="_blank"><img src="data/attachment/forum/201812/07/163956qfkkp878c1p7y7zj.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=175" target="_blank">与家里蹲妹妹一起 引きこもり妹&amp;</a></h5>
                                                                        <p>KristenMercer</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>9</em>
                                                                    <a href="forum.php?mod=viewthread&tid=93" target="_blank">游戏王：次元的黑暗面【中文字幕】</a>
                                                                    <span>共163阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>9</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=93" target="_blank"><img src="data/attachment/forum/201811/04/100810hoifqvwvmo2fmpq5.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=93" target="_blank">游戏王：次元的黑暗面【中文字幕】</a></h5>
                                                                        <p>admin</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd><dd>
                                                                <div class="nex_rk_output">
                                                                    <em>10</em>
                                                                    <a href="forum.php?mod=viewthread&tid=223" target="_blank">满月之战GRANBELM</a>
                                                                    <span>共53阅读</span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                                <div class="nex_rk_input">
                                                                    <em>10</em>
                                                                    <div class="nex_rk_inputpic"><a href="forum.php?mod=viewthread&tid=223" target="_blank"><img src="data/attachment/forum/201910/23/074350udspfs47w5pwi3zw.jpg" width="110" height="70" /></a></div>
                                                                    <div class="nex_rk_inputports">
                                                                        <h5><a href="forum.php?mod=viewthread&tid=223" target="_blank">满月之战GRANBELM</a></h5>
                                                                        <p>admin</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </dd>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--[/diy]-->

                                    </dl>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                        jQuery(".nex_discuz_sidebox_top ul li").each(function (s) {
                            jQuery(this).hover(function () {
                                jQuery(this).addClass("on").siblings().removeClass("on");
                                jQuery(".nex_discuz_hotread ul li").eq(s).show().siblings().hide();
                            })
                        })
                    </script>
                    <script type="text/javascript">
                        jQuery(".nex_ranklistings dl dd").each(function (s) {
                            jQuery(this).hover(function () {
                                jQuery(this).addClass("curs").siblings().removeClass("curs");
                            })
                        })
                    </script>
                </div>
                <!--广告位-->
                <div class="nex_discuz_side_ads">
                    <!--[diy=nex_discuz_side_ads]--><div id="nex_discuz_side_ads" class="area"><div id="frameE6BEDT" class="frame move-span cl frame-1"><div id="frameE6BEDT_left" class="column frame-1-c"><div id="frameE6BEDT_left_temp" class="move-span temp"></div><div id="portal_block_153" class="block move-span"><div id="portal_block_153_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/discuz/side_ads.jpg" /></a></div></div></div></div></div></div><!--[/diy]-->

                </div>
            </div>
        </div>
    </div>


    <script>fixed_top_nv();</script>
</div>