
@{
    Layout = "_AiliDaoLayout";
    ViewBag.css = "data/cache/style_2_forum_forumdisplay.css";
    ViewBag.selectPage = 0;
}


<div id="wp" class="wp">
    <style id="diy_style" type="text/css"></style>
    <!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="./" class="nvhm" title="首页">动漫次元视频资源综合社区</a><em>&raquo;</em><a href="forum.php">论坛</a> <em>&rsaquo;</em> <a href="forum.php?gid=1">ACG广场</a><em>&rsaquo;</em> <a href="forum.php?mod=forumdisplay&fid=36">Cosplay</a>
        </div>
    </div><div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>
    <div class="boardnav">
        <div id="ct" class="wp cl">
            <div class="nex_bkjsbg">
                <div class="nex_bkjsbg_top">
                    <div class="nex_bkjsbg_topimg" style="background:url(data/attachment/common/19/common_36_banner.jpg) center no-repeat; background-size:cover;"></div>
                    <b></b>
                    <div class="nex_bkjsbg_topfav"><a href="home.php?mod=spacecp&amp;ac=favorite&amp;type=forum&amp;id=36&amp;handlekey=favoriteforum" id="a_favorite" class="nex_sc" title="收藏本版" onclick="showWindow(this.id, this.href, 'get', 0);"><i class="xi1" id="number_favorite" style="display:none;"><span class="number_favorite_num">0</span></i></a></div>
                </div>
                <div class="nex_bkjsbg_btm">
                    <div class="nex_bkjsbg_btmtop">
                        <div class="nex_bkicons">
                            <span style="background:url(data/attachment/common/19/common_36_icon.jpg) center no-repeat; background-size:cover;"></span>
                        </div>
                        <div class="nex_bkinterls">
                            <div class="nex_bkinterls_top">
                                <div class="nex_bkinterls_ls"><a href="forum.php?mod=forumdisplay&amp;fid=36">Cosplay</a></div>
                                <div class="nex_bkinterls_ms">排名: <em title="上次排名:13">13</em><span class="nex_ico_increase"></span></span></div>
                                <div class="nex_bkinterls_ts">
                                </div>
                                <div class="nex_bkinterls_rs">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="nex_bkinterls_btm">
                                <div class="nex_bkjs_status">
                                    <ul>
                                        <li class="nex_todayposts"><p>0</p><em>今日发帖</em></li>
                                        <li class="nex_totalposts"><p>25</p><em>本版主题</em></li>
                                        <div class="clear"></div>
                                    </ul>
                                </div>

                                <div class="nex_bkjs_postout">
                                    <a href="javascript:;" id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial'" onclick="location.href='forum.php?mod=post&action=newthread&fid=36';return false;" title="发新帖">发表新帖</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="nex_guize"><em>板块规则</em>您还未设置本版块规则说明文字，如需设置，请登陆后台论坛栏目，在该板块设置下方填写本版块规则。</div>
            </div>
            <div class="clear"></div>
            <!--推荐阅读-->
            <div class="nex_Product_unextend">
                <div class="nex_discuz_sidebox_top">
                    <span>推荐阅读</span>
                    <i class="nex_sp_line"></i>
                    <a class="nex_more_btns" href="#" target="_blank">更多</a>
                    <div class="clear"></div>
                </div>
                <div class="nex_bbs_tjbox">
                    <ul>
                        <!--[diy=nex_bbs_tjbox]-->
                        <div id="nex_bbs_tjbox" class="area"></div><!--[/diy]-->

                        <div class="clear"></div>
                    </ul>
                </div>
            </div>


            <div class="mn">
                <div class="drag">
                    <!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
                </div>





                <div id="pgt" class="bm bw0 pgs cl">

                </div>
                <ul id="thread_types" class="ttp bm cl">
                    <li id="ttp_all" class="xw1 a"><a href="forum.php?mod=forumdisplay&amp;fid=36">全部</a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=typeid&amp;typeid=1">游戏角色<span class="xg1 num">9</span></a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=typeid&amp;typeid=2">动漫人物<span class="xg1 num">8</span></a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=typeid&amp;typeid=3">同人<span class="xg1 num">4</span></a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=typeid&amp;typeid=4">次元装扮<span class="xg1 num">3</span></a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=typeid&amp;typeid=5">绅士福利<span class="xg1 num">1</span></a></li>
                </ul>
                <script type="text/javascript">showTypes('thread_types');</script>
                <div id="threadlist" class="tl bm bmw">

                    <div class="th">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <th colspan="2">
                                    <div class="nex_biaotou">

                                        <div class="nex_sorttypes">
                                            <ul>
                                                <li class="nex_sorttypes_lastest"><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=lastpost&amp;orderby=lastpost" class="xi2">最新</a></li>
                                                <li class="nex_sorttypes_heats"><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=heat&amp;orderby=heats" class="xi2">热门</a></li>
                                                <li class="nex_sorttypes_hot"><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=hot" class="xi2">热帖</a></li>
                                                <li class="nex_sorttypes_digest"><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=digest&amp;digest=1" class="xi2">精华</a></li>
                                                <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="y nex_space">
                                            <span id="atarget" onclick="setatarget(1)" class="y" title="在新窗口中打开帖子">新窗</span>
                                            <div class="nex_select_iterm">
                                                <span id="clearstickthread" style="display: none;">
                                                    <div class="nex_select_iterm_span">|</div>
                                                    <a href="javascript:;" onclick="clearStickThread()" class="nex_showdisplays" title="显示置顶">显示置顶</a>
                                                </span>
                                            </div>
                                            <a href="forum.php?mod=forumdisplay&amp;fid=36&amp;forumdefstyle=yes" class="nex_wfpower chked" title="图片模式浏览帖子">图片模式</a>
                                        </div>
                                        <div class="nex_select_array">
                                            <div class="nex_select_iterm"><a id="filter_special" href="javascript:;" class="xi2" onclick="showMenu(this.id)">全部主题</a></div>
                                            <div class="nex_select_iterm_span">|</div>
                                            <div class="nex_select_iterm"><a id="filter_orderby" href="javascript:;" onclick="showMenu(this.id)" initialized="true">排序方式</a></div>
                                            <div class="nex_select_iterm_span">|</div>
                                            <div class="nex_select_iterm"><a id="filter_dateline" href="javascript:;" class="xi2" onclick="showMenu(this.id)">按照时间</a></div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="bm_c">
                        <div id="forumnew" style="display:none"></div>
                        <form method="post" autocomplete="off" name="moderate" id="moderate" action="forum.php?mod=topicadmin&amp;action=moderate&amp;fid=36&amp;infloat=yes&amp;nopost=yes">
                            <input type="hidden" name="formhash" value="744dccd4" />
                            <input type="hidden" name="listextra" value="page%3D1" />
                            <div id="threadlisttableid">
                                <div class="nex_ancmtlist">
                                    <div class="nex_announcement">公告: </div>
                                    <div class="nex_amtcontent">
                                        <a href="forum.php?mod=announcement&amp;id=2#2" target="_blank">超人气学园青春故事！《学园孤岛》真人版预告公开</a>
                                    </div>

                                    <div class="nex_anmtauthor"><a href="home.php?mod=space&amp;uid=1" c="1">admin</a></div>
                                    <div class="nex_anmtdate">	<em>2018-11-12</em></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div><!-- end of table "forum_G[fid]" branch 2/3 -->
                            <ul id="waterfall" class="ml waterfall cl">
                                <style type="text/css">
                                    .nex_Product_unextend, .nex_forumlist_btm_ads {
                                        display: none;
                                    }
                                </style>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=23&amp;extra=page%3D1" onclick="atarget(this)" title="待枫叶落满长安，再续这段缘">
                                                <img src="data/attachment/forum/threadcover/37/69/23.jpg" alt="待枫叶落满长安，再续这段缘" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=23&amp;extra=page%3D1" onclick="atarget(this)" title="待枫叶落满长安，再续这段缘">待枫叶落满长安，再续这段缘</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=3" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=3&size=middle" />                                                                                                <span>揣猫的白丸</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">315</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=2&amp;extra=page%3D1" onclick="atarget(this)" title="王者荣耀甄姬游园惊梦cos CN彩芸_Nebula">
                                                <img src="data/attachment/forum/threadcover/c8/1e/2.jpg" alt="王者荣耀甄姬游园惊梦cos CN彩芸_Nebula" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=2&amp;extra=page%3D1" onclick="atarget(this)" title="王者荣耀甄姬游园惊梦cos CN彩芸_Nebula">王者荣耀甄姬游园惊梦cos CN彩芸_Nebula</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=7" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />                                                                                                <span>萌萌哒的黎幻酱</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">292</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=26&amp;extra=page%3D1" onclick="atarget(this)" title="我们的心永远在一起《缘之空》春日野穹cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/4e/73/26.jpg" alt="我们的心永远在一起《缘之空》春日野穹cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=26&amp;extra=page%3D1" onclick="atarget(this)" title="我们的心永远在一起《缘之空》春日野穹cosplay欣赏">我们的心永远在一起《缘之空》春日野穹cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=3" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=3&size=middle" />                                                                                                <span>揣猫的白丸</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">587</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=5">绅士福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=25&amp;extra=page%3D1" onclick="atarget(this)" title="千丝万缕长相依《洛天依》cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/8e/29/25.jpg" alt="千丝万缕长相依《洛天依》cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=25&amp;extra=page%3D1" onclick="atarget(this)" title="千丝万缕长相依《洛天依》cosplay欣赏">千丝万缕长相依《洛天依》cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=3" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=3&size=middle" />                                                                                                <span>揣猫的白丸</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">194</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=3">同人</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=24&amp;extra=page%3D1" onclick="atarget(this)" title="300英雄 300娘">
                                                <img src="data/attachment/forum/threadcover/1f/f1/24.jpg" alt="300英雄 300娘" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=24&amp;extra=page%3D1" onclick="atarget(this)" title="300英雄 300娘">300英雄 300娘</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">224</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=22&amp;extra=page%3D1" onclick="atarget(this)" title="念念不忘,必有回响《王者荣耀》公孙离花间舞cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/b6/d7/22.jpg" alt="念念不忘,必有回响《王者荣耀》公孙离花间舞cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=22&amp;extra=page%3D1" onclick="atarget(this)" title="念念不忘,必有回响《王者荣耀》公孙离花间舞cosplay欣赏">念念不忘,必有回响《王者荣耀》公孙离花间舞cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=3" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=3&size=middle" />                                                                                                <span>揣猫的白丸</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">192</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=21&amp;extra=page%3D1" onclick="atarget(this)" title="接小朋友放学《碧蓝航线》樟cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/3c/59/21.jpg" alt="接小朋友放学《碧蓝航线》樟cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=21&amp;extra=page%3D1" onclick="atarget(this)" title="接小朋友放学《碧蓝航线》樟cosplay欣赏">接小朋友放学《碧蓝航线》樟cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=3" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=3&size=middle" />                                                                                                <span>揣猫的白丸</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">233</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=20&amp;extra=page%3D1" onclick="atarget(this)" title="这个女主很可爱《恋与制作人 》女主cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/98/f1/20.jpg" alt="这个女主很可爱《恋与制作人 》女主cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=20&amp;extra=page%3D1" onclick="atarget(this)" title="这个女主很可爱《恋与制作人 》女主cosplay欣赏">这个女主很可爱《恋与制作人 》女主cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">187</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=3">同人</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=19&amp;extra=page%3D1" onclick="atarget(this)" title="你的妹妹已到账《缘之空》穹妹cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/1f/0e/19.jpg" alt="你的妹妹已到账《缘之空》穹妹cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=19&amp;extra=page%3D1" onclick="atarget(this)" title="你的妹妹已到账《缘之空》穹妹cosplay欣赏">你的妹妹已到账《缘之空》穹妹cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">231</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=4">次元装扮</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=18&amp;extra=page%3D1" onclick="atarget(this)" title="我要用尾巴抽你了《阴阳师》鲤鱼精cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/6f/49/18.jpg" alt="我要用尾巴抽你了《阴阳师》鲤鱼精cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=18&amp;extra=page%3D1" onclick="atarget(this)" title="我要用尾巴抽你了《阴阳师》鲤鱼精cosplay欣赏">我要用尾巴抽你了《阴阳师》鲤鱼精cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">166</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=17&amp;extra=page%3D1" onclick="atarget(this)" title="成为你心中的蕾姆《零世界》蕾姆cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/70/ef/17.jpg" alt="成为你心中的蕾姆《零世界》蕾姆cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=17&amp;extra=page%3D1" onclick="atarget(this)" title="成为你心中的蕾姆《零世界》蕾姆cosplay欣赏">成为你心中的蕾姆《零世界》蕾姆cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">174</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=16&amp;extra=page%3D1" onclick="atarget(this)" title="全程看腿《少女前线》95式cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/c7/4d/16.jpg" alt="全程看腿《少女前线》95式cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=16&amp;extra=page%3D1" onclick="atarget(this)" title="全程看腿《少女前线》95式cosplay欣赏">全程看腿《少女前线》95式cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">200</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=4">次元装扮</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=14&amp;extra=page%3D1" onclick="atarget(this)" title="气质爆表的小姐姐《DARLING in the FRANXX 》002 cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/aa/b3/14.jpg" alt="气质爆表的小姐姐《DARLING in the FRANXX 》002 cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=14&amp;extra=page%3D1" onclick="atarget(this)" title="气质爆表的小姐姐《DARLING in the FRANXX 》002 cosplay欣赏">气质爆表的小姐姐《DARLING in the FRANXX 》002 cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">175</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=3">同人</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=13&amp;extra=page%3D1" onclick="atarget(this)" title="闪现撞墙空W《英雄联盟》电玩锐雯cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/c5/1c/13.jpg" alt="闪现撞墙空W《英雄联盟》电玩锐雯cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=13&amp;extra=page%3D1" onclick="atarget(this)" title="闪现撞墙空W《英雄联盟》电玩锐雯cosplay欣赏">闪现撞墙空W《英雄联盟》电玩锐雯cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">152</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=12&amp;extra=page%3D1" onclick="atarget(this)" title="我要领回家《Re:从零开始的异世界生活 》蕾姆cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/c2/0a/12.jpg" alt="我要领回家《Re:从零开始的异世界生活 》蕾姆cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=12&amp;extra=page%3D1" onclick="atarget(this)" title="我要领回家《Re:从零开始的异世界生活 》蕾姆cosplay欣赏">我要领回家《Re:从零开始的异世界生活 》蕾姆cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">203</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=11&amp;extra=page%3D1" onclick="atarget(this)" title="觉得哪一只攻一些《柑橘味香气 》cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/65/12/11.jpg" alt="觉得哪一只攻一些《柑橘味香气 》cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=11&amp;extra=page%3D1" onclick="atarget(this)" title="觉得哪一只攻一些《柑橘味香气 》cosplay欣赏">觉得哪一只攻一些《柑橘味香气 》cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">142</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=10&amp;extra=page%3D1" onclick="atarget(this)" title="你说的江湖，我曾去过《剑网三》喵萝cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/d3/d9/10.jpg" alt="你说的江湖，我曾去过《剑网三》喵萝cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=10&amp;extra=page%3D1" onclick="atarget(this)" title="你说的江湖，我曾去过《剑网三》喵萝cosplay欣赏">你说的江湖，我曾去过《剑网三》喵萝cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">224</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=9&amp;extra=page%3D1" onclick="atarget(this)" title="人活着就是为了阿福《FGO》阿斯托尔福cosplay欣赏">
                                                <img src="data/attachment/forum/threadcover/45/c4/9.jpg" alt="人活着就是为了阿福《FGO》阿斯托尔福cosplay欣赏" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=9&amp;extra=page%3D1" onclick="atarget(this)" title="人活着就是为了阿福《FGO》阿斯托尔福cosplay欣赏">人活着就是为了阿福《FGO》阿斯托尔福cosplay欣赏</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">154</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=4">次元装扮</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=8&amp;extra=page%3D1" onclick="atarget(this)" title="路人女主的养成方法 加藤惠手办泳装ver水着cos CN">
                                                <img src="data/attachment/forum/threadcover/c9/f0/8.jpg" alt="路人女主的养成方法 加藤惠手办泳装ver水着cos CN" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=8&amp;extra=page%3D1" onclick="atarget(this)" title="路人女主的养成方法 加藤惠手办泳装ver水着cos CN">路人女主的养成方法 加藤惠手办泳装ver水着cos CN</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">147</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=7&amp;extra=page%3D1" onclick="atarget(this)" title="嘣战纪神枪手米卡cos CN矮乐多Aliga">
                                                <img src="data/attachment/forum/threadcover/8f/14/7.jpg" alt="嘣战纪神枪手米卡cos CN矮乐多Aliga" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=7&amp;extra=page%3D1" onclick="atarget(this)" title="嘣战纪神枪手米卡cos CN矮乐多Aliga">嘣战纪神枪手米卡cos CN矮乐多Aliga</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=6" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />                                                                                                <span>KristenMercer</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">129</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=3">同人</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=6&amp;extra=page%3D1" onclick="atarget(this)" title="山海经设乐正绫">
                                                <img src="data/attachment/forum/threadcover/16/79/6.jpg" alt="山海经设乐正绫" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=6&amp;extra=page%3D1" onclick="atarget(this)" title="山海经设乐正绫">山海经设乐正绫</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=7" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />                                                                                                <span>萌萌哒的黎幻酱</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">155</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=5&amp;extra=page%3D1" onclick="atarget(this)" title="Fate/Extra COS尼禄saber福利蔷薇礼服">
                                                <img src="data/attachment/forum/threadcover/e4/da/5.jpg" alt="Fate/Extra COS尼禄saber福利蔷薇礼服" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=5&amp;extra=page%3D1" onclick="atarget(this)" title="Fate/Extra COS尼禄saber福利蔷薇礼服">Fate/Extra COS尼禄saber福利蔷薇礼服</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=7" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />                                                                                                <span>萌萌哒的黎幻酱</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">123</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=4&amp;extra=page%3D1" onclick="atarget(this)" title="从零开始的异世界生活 艾米莉娅 爱蜜莉雅cos 只是简言">
                                                <img src="data/attachment/forum/threadcover/a8/7f/4.jpg" alt="从零开始的异世界生活 艾米莉娅 爱蜜莉雅cos 只是简言" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=4&amp;extra=page%3D1" onclick="atarget(this)" title="从零开始的异世界生活 艾米莉娅 爱蜜莉雅cos 只是简言">从零开始的异世界生活 艾米莉娅 爱蜜莉雅cos 只是简言</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=7" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />                                                                                                <span>萌萌哒的黎幻酱</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">146</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=1">游戏角色</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=3&amp;extra=page%3D1" onclick="atarget(this)" title="碧蓝航线cos 光辉换装 永不落幕的茶会 CN瓜希酱">
                                                <img src="data/attachment/forum/threadcover/ec/cb/3.jpg" alt="碧蓝航线cos 光辉换装 永不落幕的茶会 CN瓜希酱" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=3&amp;extra=page%3D1" onclick="atarget(this)" title="碧蓝航线cos 光辉换装 永不落幕的茶会 CN瓜希酱">碧蓝航线cos 光辉换装 永不落幕的茶会 CN瓜希酱</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=7" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />                                                                                                <span>萌萌哒的黎幻酱</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">132</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=1&amp;extra=page%3D1" onclick="atarget(this)" title="路人女主的养成方法 加藤惠圣人惠水着cos CN">
                                                <img src="data/attachment/forum/threadcover/c4/ca/1.jpg" alt="路人女主的养成方法 加藤惠圣人惠水着cos CN" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=1&amp;extra=page%3D1" onclick="atarget(this)" title="路人女主的养成方法 加藤惠圣人惠水着cos CN">路人女主的养成方法 加藤惠圣人惠水着cos CN</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">144</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=36&amp;filter=typeid&amp;typeid=2">动漫人物</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-2</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div id="tmppic" style="display: none;"></div>
                            <script src="static/js/redef.js?LBz" type="text/javascript"></script>
                            <script type="text/javascript" reload="0">
                                var wf = {};

                                _attachEvent(window, "load", function () {
                                    if ($("waterfall")) {
                                        wf = waterfall();
                                    }


                                });

                            </script>

                        </form>
                    </div>
                </div>

                <div id="filter_special_menu" class="p_pop" style="display:none" change="location.href='forum.php?mod=forumdisplay&fid=36&filter='+$('filter_special').value">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36">全部主题</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=specialtype&amp;specialtype=poll">投票</a></li>
                    </ul>
                </div>
                <div id="filter_reward_menu" class="p_pop" style="display:none" change="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype='+$('filter_reward').value">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=specialtype&amp;specialtype=reward">全部悬赏</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype=1">进行中</a></li>
                    </ul>
                </div>
                <div id="filter_dateline_menu" class="p_pop" style="display:none">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;orderby=lastpost&amp;filter=dateline">全部时间</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=86400">一天</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=172800">两天</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=604800">一周</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=2592000">一个月</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=7948800">三个月</a></li>
                    </ul>
                </div>
                <div id="filter_orderby_menu" class="p_pop" style="display:none">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36">默认排序</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=author&amp;orderby=dateline">发帖时间</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=reply&amp;orderby=replies">回复/查看</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=reply&amp;orderby=views">查看</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=lastpost&amp;orderby=lastpost">最后发表</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=36&amp;filter=heat&amp;orderby=heats">热门</a></li>
                        <ul>
                        </ul>
                    </ul>
                </div>
                <div class="bm bw0 pgs cl">
                    <span id="fd_page_bottom"></span>
                    <span id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'21'})" class="pgb y"><a href="forum.php">返&nbsp;回</a></span>
                    <a href="javascript:;" id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})" onclick="location.href='forum.php?mod=post&action=newthread&fid=36';return false;" title="发新帖"></a>
                </div>
                <div class="nex_forumlist_btm_ads">
                    <!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"><div id="frameifAlkD" class="frame move-span cl frame-1"><div id="frameifAlkD_left" class="column frame-1-c"><div id="frameifAlkD_left_temp" class="move-span temp"></div><div id="portal_block_125" class="block move-span"><div id="portal_block_125_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/forumlist/ads3.jpg" /></a></div></div></div></div></div></div><!--[/diy]-->
                </div>

                <!--[diy=diyforumdisplaybottom]--><div id="diyforumdisplaybottom" class="area"></div><!--[/diy]-->

            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div id="visitedforums_menu" class="p_pop blk cl" style="display: none;">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td id="v_forums">
                    <h3 class="mbn pbn bbda xg1">浏览过的版块</h3>
                    <ul class="xl xl1">
                        <li><a href="forum.php?mod=forumdisplay&fid=37">P站美图</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=2">ACG视频</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=40">漫画下载</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=38">ACG讨论</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=59">音乐歌单</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=58">动漫音乐</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=42">番剧动漫</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=39">次元漫画</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">document.onkeyup = function (e) { keyPageScroll(e, 0, 0, 'forum.php?mod=forumdisplay&fid=36&filter=&orderby=lastpost&', 1); }</script>
    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>
    <script>fixed_top_nv();</script>
</div>
