
@{
    Layout = "_AiliDaoLayout";
    ViewBag.css = "data/cache/style_2_forum_forumdisplay.css";
    ViewBag.selectPage = 5;
}
<div id="wp" class="wp">
    <style id="diy_style" type="text/css"></style>
    <!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="./" class="nvhm" title="首页">动漫次元视频资源综合社区</a><em>&raquo;</em><a href="forum.php">论坛</a> <em>&rsaquo;</em> <a href="forum.php?gid=1">ACG广场</a><em>&rsaquo;</em> <a href="forum.php?mod=forumdisplay&fid=37">P站美图</a>
        </div>
    </div><div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>
    <div class="boardnav">
        <div id="ct" class="wp cl">
            <div class="nex_bkjsbg">
                <div class="nex_bkjsbg_top">
                    <div class="nex_bkjsbg_topimg" style="background:url(data/attachment/common/a5/common_37_banner.jpg) center no-repeat; background-size:cover;"></div>
                    <b></b>
                    <div class="nex_bkjsbg_topfav"><a href="home.php?mod=spacecp&amp;ac=favorite&amp;type=forum&amp;id=37&amp;handlekey=favoriteforum" id="a_favorite" class="nex_sc" title="收藏本版" onclick="showWindow(this.id, this.href, 'get', 0);"><i class="xi1" id="number_favorite"><span class="number_favorite_num">1</span></i></a></div>
                </div>
                <div class="nex_bkjsbg_btm">
                    <div class="nex_bkjsbg_btmtop">
                        <div class="nex_bkicons">
                            <span style="background:url(data/attachment/common/a5/common_37_icon.jpg) center no-repeat; background-size:cover;"></span>
                        </div>
                        <div class="nex_bkinterls">
                            <div class="nex_bkinterls_top">
                                <div class="nex_bkinterls_ls"><a href="forum.php?mod=forumdisplay&amp;fid=37">P站美图</a></div>
                                <div class="nex_bkinterls_ms">排名: <em title="上次排名:14">14</em><span class="nex_ico_increase"></span></span></div>
                                <div class="nex_bkinterls_ts">
                                </div>
                                <div class="nex_bkinterls_rs">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="nex_bkinterls_btm">
                                <div class="nex_bkjs_status">
                                    <ul>
                                        <li class="nex_todayposts"><p>0</p><em>今日发帖</em></li>
                                        <li class="nex_totalposts"><p>25</p><em>本版主题</em></li>
                                        <div class="clear"></div>
                                    </ul>
                                </div>

                                <div class="nex_bkjs_postout">
                                    <a href="javascript:;" id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial'" onclick="location.href='forum.php?mod=post&action=newthread&fid=37';return false;" title="发新帖">发表新帖</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="nex_guize"><em>板块规则</em>您还未设置本版块规则说明文字，如需设置，请登陆后台论坛栏目，在该板块设置下方填写本版块规则。</div>
            </div>
            <div class="clear"></div>
            <!--推荐阅读-->
            <div class="nex_Product_unextend">
                <div class="nex_discuz_sidebox_top">
                    <span>推荐阅读</span>
                    <i class="nex_sp_line"></i>
                    <a class="nex_more_btns" href="#" target="_blank">更多</a>
                    <div class="clear"></div>
                </div>
                <div class="nex_bbs_tjbox">
                    <ul>
                        <!--[diy=nex_bbs_tjbox]-->
                        <div id="nex_bbs_tjbox" class="area"></div><!--[/diy]-->

                        <div class="clear"></div>
                    </ul>
                </div>
            </div>


            <div class="mn">
                <div class="drag">
                    <!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->
                </div>





                <div id="pgt" class="bm bw0 pgs cl">

                </div>
                <ul id="thread_types" class="ttp bm cl">
                    <li id="ttp_all" class="xw1 a"><a href="forum.php?mod=forumdisplay&amp;fid=37">全部</a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=typeid&amp;typeid=6">二次元美图<span class="xg1 num">10</span></a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=typeid&amp;typeid=7">壁纸<span class="xg1 num">7</span></a></li>
                    <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=typeid&amp;typeid=8">次元福利<span class="xg1 num">7</span></a></li>
                </ul>
                <script type="text/javascript">showTypes('thread_types');</script>
                <div id="threadlist" class="tl bm bmw">

                    <div class="th">
                        <table cellspacing="0" cellpadding="0">
                            <tr>
                                <th colspan="2">
                                    <div class="nex_biaotou">

                                        <div class="nex_sorttypes">
                                            <ul>
                                                <li class="nex_sorttypes_lastest"><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=lastpost&amp;orderby=lastpost" class="xi2">最新</a></li>
                                                <li class="nex_sorttypes_heats"><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=heat&amp;orderby=heats" class="xi2">热门</a></li>
                                                <li class="nex_sorttypes_hot"><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=hot" class="xi2">热帖</a></li>
                                                <li class="nex_sorttypes_digest"><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=digest&amp;digest=1" class="xi2">精华</a></li>
                                                <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="y nex_space">
                                            <span id="atarget" onclick="setatarget(1)" class="y" title="在新窗口中打开帖子">新窗</span>
                                            <div class="nex_select_iterm">
                                                <span id="clearstickthread" style="display: none;">
                                                    <div class="nex_select_iterm_span">|</div>
                                                    <a href="javascript:;" onclick="clearStickThread()" class="nex_showdisplays" title="显示置顶">显示置顶</a>
                                                </span>
                                            </div>
                                            <a href="forum.php?mod=forumdisplay&amp;fid=37&amp;forumdefstyle=yes" class="nex_wfpower chked" title="图片模式浏览帖子">图片模式</a>
                                        </div>
                                        <div class="nex_select_array">
                                            <div class="nex_select_iterm"><a id="filter_special" href="javascript:;" class="xi2" onclick="showMenu(this.id)">全部主题</a></div>
                                            <div class="nex_select_iterm_span">|</div>
                                            <div class="nex_select_iterm"><a id="filter_orderby" href="javascript:;" onclick="showMenu(this.id)" initialized="true">排序方式</a></div>
                                            <div class="nex_select_iterm_span">|</div>
                                            <div class="nex_select_iterm"><a id="filter_dateline" href="javascript:;" class="xi2" onclick="showMenu(this.id)">按照时间</a></div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="bm_c">
                        <div id="forumnew" style="display:none"></div>
                        <form method="post" autocomplete="off" name="moderate" id="moderate" action="forum.php?mod=topicadmin&amp;action=moderate&amp;fid=37&amp;infloat=yes&amp;nopost=yes">
                            <input type="hidden" name="formhash" value="744dccd4" />
                            <input type="hidden" name="listextra" value="page%3D1" />
                            <div id="threadlisttableid">
                                <div class="nex_ancmtlist">
                                    <div class="nex_announcement">公告: </div>
                                    <div class="nex_amtcontent">
                                        <a href="forum.php?mod=announcement&amp;id=2#2" target="_blank">超人气学园青春故事！《学园孤岛》真人版预告公开</a>
                                    </div>

                                    <div class="nex_anmtauthor"><a href="home.php?mod=space&amp;uid=1" c="1">admin</a></div>
                                    <div class="nex_anmtdate">	<em>2018-11-12</em></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div><!-- end of table "forum_G[fid]" branch 2/3 -->
                            <ul id="waterfall" class="ml waterfall cl">
                                <style type="text/css">
                                    .nex_Product_unextend, .nex_forumlist_btm_ads {
                                        display: none;
                                    }
                                </style>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=43&amp;extra=page%3D1" onclick="atarget(this)" title="高雅又神秘 纱巾特辑">
                                                <img src="data/attachment/forum/threadcover/17/e6/43.jpg" alt="高雅又神秘 纱巾特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=43&amp;extra=page%3D1" onclick="atarget(this)" title="高雅又神秘 纱巾特辑">高雅又神秘 纱巾特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=2" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=2&size=middle" />                                                                                                <span>面饼仙儿</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">414</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=234&amp;extra=page%3D1" onclick="atarget(this)" title="宫崎骏名作《风之谷》歌舞伎化 女主娜乌西卡定妆形象首爆">
                                                <img src="data/attachment/forum/threadcover/28/9d/234.jpg" alt="宫崎骏名作《风之谷》歌舞伎化 女主娜乌西卡定妆形象首爆" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=234&amp;extra=page%3D1" onclick="atarget(this)" title="宫崎骏名作《风之谷》歌舞伎化 女主娜乌西卡定妆形象首爆">宫崎骏名作《风之谷》歌舞伎化 女主娜乌西卡定妆形象首爆</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">455</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=7">壁纸</a>]</em>                                                                                             <div class="nex_water_btm_date">2019-10-24</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=49&amp;extra=page%3D1" onclick="atarget(this)" title="足控和胸器，你站那一边呢？">
                                                <img src="data/attachment/forum/threadcover/f4/57/49.jpg" alt="足控和胸器，你站那一边呢？" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=49&amp;extra=page%3D1" onclick="atarget(this)" title="足控和胸器，你站那一边呢？">足控和胸器，你站那一边呢？</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=2" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=2&size=middle" />                                                                                                <span>面饼仙儿</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">617</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=8">次元福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-4</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=34&amp;extra=page%3D1" onclick="atarget(this)" title="透过衣服的你的肌肤&#9825;透视装特辑">
                                                <img src="data/attachment/forum/threadcover/e3/69/34.jpg" alt="透过衣服的你的肌肤&#9825;透视装特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=34&amp;extra=page%3D1" onclick="atarget(this)" title="透过衣服的你的肌肤&#9825;透视装特辑">透过衣服的你的肌肤&#9825;透视装特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=4" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=4&size=middle" />                                                                                                <span>不来点妹汁吗</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">565</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=44&amp;extra=page%3D1" onclick="atarget(this)" title="呆毛特辑 最后一张满分">
                                                <img src="data/attachment/forum/threadcover/f7/17/44.jpg" alt="呆毛特辑 最后一张满分" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=44&amp;extra=page%3D1" onclick="atarget(this)" title="呆毛特辑 最后一张满分">呆毛特辑 最后一张满分</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=2" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=2&size=middle" />                                                                                                <span>面饼仙儿</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">268</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=7">壁纸</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=48&amp;extra=page%3D1" onclick="atarget(this)" title="感受东方气质。东方风格的插画特辑">
                                                <img src="data/attachment/forum/threadcover/64/2e/48.jpg" alt="感受东方气质。东方风格的插画特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=48&amp;extra=page%3D1" onclick="atarget(this)" title="感受东方气质。东方风格的插画特辑">感受东方气质。东方风格的插画特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=2" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=2&size=middle" />                                                                                                <span>面饼仙儿</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">284</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-4</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=47&amp;extra=page%3D1" onclick="atarget(this)" title="追求美的形态。高跟鞋特辑">
                                                <img src="data/attachment/forum/threadcover/67/c6/47.jpg" alt="追求美的形态。高跟鞋特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=47&amp;extra=page%3D1" onclick="atarget(this)" title="追求美的形态。高跟鞋特辑">追求美的形态。高跟鞋特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">251</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=7">壁纸</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-4</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=46&amp;extra=page%3D1" onclick="atarget(this)" title="贫乳VS巨乳插画特辑">
                                                <img src="data/attachment/forum/threadcover/d9/d4/46.jpg" alt="贫乳VS巨乳插画特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=46&amp;extra=page%3D1" onclick="atarget(this)" title="贫乳VS巨乳插画特辑">贫乳VS巨乳插画特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=2" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=2&size=middle" />                                                                                                <span>面饼仙儿</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">418</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=8">次元福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=45&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐——下乳特辑">
                                                <img src="data/attachment/forum/threadcover/6c/83/45.jpg" alt="P站美图推荐——下乳特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=45&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐——下乳特辑">P站美图推荐——下乳特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">219</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=8">次元福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=42&amp;extra=page%3D1" onclick="atarget(this)" title="杀死童贞服特辑">
                                                <img src="data/attachment/forum/threadcover/a1/d0/42.jpg" alt="杀死童贞服特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=42&amp;extra=page%3D1" onclick="atarget(this)" title="杀死童贞服特辑">杀死童贞服特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=2" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=2&size=middle" />                                                                                                <span>面饼仙儿</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">257</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=8">次元福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=41&amp;extra=page%3D1" onclick="atarget(this)" title="女仆装特辑">
                                                <img src="data/attachment/forum/threadcover/34/16/41.jpg" alt="女仆装特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=41&amp;extra=page%3D1" onclick="atarget(this)" title="女仆装特辑">女仆装特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=5" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=5&size=middle" />                                                                                                <span>薯片先生</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">426</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=8">次元福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=40&amp;extra=page%3D1" onclick="atarget(this)" title="シエラ笔下充满戏剧性的美丽插画">
                                                <img src="data/attachment/forum/threadcover/d6/45/40.jpg" alt="シエラ笔下充满戏剧性的美丽插画" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=40&amp;extra=page%3D1" onclick="atarget(this)" title="シエラ笔下充满戏剧性的美丽插画">シエラ笔下充满戏剧性的美丽插画</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=5" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=5&size=middle" />                                                                                                <span>薯片先生</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">205</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=7">壁纸</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=39&amp;extra=page%3D1" onclick="atarget(this)" title="大人与孩子的分界线。美少年特辑">
                                                <img src="data/attachment/forum/threadcover/d6/7d/39.jpg" alt="大人与孩子的分界线。美少年特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=39&amp;extra=page%3D1" onclick="atarget(this)" title="大人与孩子的分界线。美少年特辑">大人与孩子的分界线。美少年特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">146</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=38&amp;extra=page%3D1" onclick="atarget(this)" title="动人的魅惑大腿！袜圈特辑">
                                                <img src="data/attachment/forum/threadcover/a5/77/38.jpg" alt="动人的魅惑大腿！袜圈特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=38&amp;extra=page%3D1" onclick="atarget(this)" title="动人的魅惑大腿！袜圈特辑">动人的魅惑大腿！袜圈特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">219</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=7">壁纸</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=37&amp;extra=page%3D1" onclick="atarget(this)" title="是魔法还是巧合？描绘了不可思议的光的插画特辑">
                                                <img src="data/attachment/forum/threadcover/a5/bf/37.jpg" alt="是魔法还是巧合？描绘了不可思议的光的插画特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=37&amp;extra=page%3D1" onclick="atarget(this)" title="是魔法还是巧合？描绘了不可思议的光的插画特辑">是魔法还是巧合？描绘了不可思议的光的插画特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=5" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=5&size=middle" />                                                                                                <span>薯片先生</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">175</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=36&amp;extra=page%3D1" onclick="atarget(this)" title="回眸百媚生美人回眸特辑">
                                                <img src="data/attachment/forum/threadcover/19/ca/36.jpg" alt="回眸百媚生美人回眸特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=36&amp;extra=page%3D1" onclick="atarget(this)" title="回眸百媚生美人回眸特辑">回眸百媚生美人回眸特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=5" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=5&size=middle" />                                                                                                <span>薯片先生</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">194</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=35&amp;extra=page%3D1" onclick="atarget(this)" title="点缀你的花束。花冠特辑">
                                                <img src="data/attachment/forum/threadcover/1c/38/35.jpg" alt="点缀你的花束。花冠特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=35&amp;extra=page%3D1" onclick="atarget(this)" title="点缀你的花束。花冠特辑">点缀你的花束。花冠特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=5" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=5&size=middle" />                                                                                                <span>薯片先生</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">179</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=8">次元福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=33&amp;extra=page%3D1" onclick="atarget(this)" title="侧胸很吸引人目光的插画特辑">
                                                <img src="data/attachment/forum/threadcover/18/2b/33.jpg" alt="侧胸很吸引人目光的插画特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=33&amp;extra=page%3D1" onclick="atarget(this)" title="侧胸很吸引人目光的插画特辑">侧胸很吸引人目光的插画特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=4" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=4&size=middle" />                                                                                                <span>不来点妹汁吗</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">211</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=32&amp;extra=page%3D1" onclick="atarget(this)" title="傲娇少女特辑">
                                                <img src="data/attachment/forum/threadcover/63/64/32.jpg" alt="傲娇少女特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=32&amp;extra=page%3D1" onclick="atarget(this)" title="傲娇少女特辑">傲娇少女特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=4" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=4&size=middle" />                                                                                                <span>不来点妹汁吗</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">172</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=7">壁纸</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=31&amp;extra=page%3D1" onclick="atarget(this)" title="只注视着你&#9825;泳衣少女特辑">
                                                <img src="data/attachment/forum/threadcover/c1/6a/31.jpg" alt="只注视着你&#9825;泳衣少女特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=31&amp;extra=page%3D1" onclick="atarget(this)" title="只注视着你&#9825;泳衣少女特辑">只注视着你&#9825;泳衣少女特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=4" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=4&size=middle" />                                                                                                <span>不来点妹汁吗</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">218</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=8">次元福利</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=30&amp;extra=page%3D1" onclick="atarget(this)" title="让那悲伤的爱情也化作泡沫消失。人鱼公主特辑">
                                                <img src="data/attachment/forum/threadcover/34/17/30.jpg" alt="让那悲伤的爱情也化作泡沫消失。人鱼公主特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=30&amp;extra=page%3D1" onclick="atarget(this)" title="让那悲伤的爱情也化作泡沫消失。人鱼公主特辑">让那悲伤的爱情也化作泡沫消失。人鱼公主特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=3" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=3&size=middle" />                                                                                                <span>揣猫的白丸</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">155</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=29&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐—麻花辫少女特辑">
                                                <img src="data/attachment/forum/threadcover/6e/a9/29.jpg" alt="P站美图推荐—麻花辫少女特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=29&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐—麻花辫少女特辑">P站美图推荐—麻花辫少女特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=3" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=3&size=middle" />                                                                                                <span>揣猫的白丸</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">183</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=7">壁纸</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=28&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐—扶桑花与少女特辑">
                                                <img src="data/attachment/forum/threadcover/33/e7/28.jpg" alt="P站美图推荐—扶桑花与少女特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=28&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐—扶桑花与少女特辑">P站美图推荐—扶桑花与少女特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">277</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="width:274px">
                                    <div class="nex_waterfallbox">
                                        <div class="c cl">
                                            <a href="forum.php?mod=viewthread&amp;tid=27&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐—身穿竞赛泳装的少女特辑">
                                                <img src="data/attachment/forum/threadcover/02/e7/27.jpg" alt="P站美图推荐—身穿竞赛泳装的少女特辑" width="250" />
                                            </a>
                                        </div>
                                        <div class="nex_WaterIners">
                                            <h3 class="xw0">
                                                <a href="forum.php?mod=viewthread&amp;tid=27&amp;extra=page%3D1" onclick="atarget(this)" title="P站美图推荐—身穿竞赛泳装的少女特辑">P站美图推荐—身穿竞赛泳装的少女特辑</a>
                                            </h3>
                                            <div class="nex_w_author">
                                                <a href="home.php?mod=space&amp;uid=1" c="1">
                                                    <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />                                                                                                <span>admin</span>
                                                    <div class="clear"></div>
                                                </a>
                                                <div class="nex_water_btm_view">201</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_water_btm">
                                                <em>[<a href="forum.php?mod=forumdisplay&fid=37&amp;filter=typeid&amp;typeid=6">二次元美图</a>]</em>                                                                                             <div class="nex_water_btm_date">2018-11-3</div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div id="tmppic" style="display: none;"></div>
                            <script src="static/js/redef.js?LBz" type="text/javascript"></script>
                            <script type="text/javascript" reload="0">
                                var wf = {};

                                _attachEvent(window, "load", function () {
                                    if ($("waterfall")) {
                                        wf = waterfall();
                                    }


                                });

                            </script>

                        </form>
                    </div>
                </div>

                <div id="filter_special_menu" class="p_pop" style="display:none" change="location.href='forum.php?mod=forumdisplay&fid=37&filter='+$('filter_special').value">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37">全部主题</a></li>
                    </ul>
                </div>
                <div id="filter_reward_menu" class="p_pop" style="display:none" change="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=specialtype&amp;specialtype=reward&amp;rewardtype='+$('filter_reward').value">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=specialtype&amp;specialtype=reward">全部悬赏</a></li>
                    </ul>
                </div>
                <div id="filter_dateline_menu" class="p_pop" style="display:none">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;orderby=lastpost&amp;filter=dateline">全部时间</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=86400">一天</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=172800">两天</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=604800">一周</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=2592000">一个月</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;orderby=lastpost&amp;filter=dateline&amp;dateline=7948800">三个月</a></li>
                    </ul>
                </div>
                <div id="filter_orderby_menu" class="p_pop" style="display:none">
                    <ul>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37">默认排序</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=author&amp;orderby=dateline">发帖时间</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=reply&amp;orderby=replies">回复/查看</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=reply&amp;orderby=views">查看</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=lastpost&amp;orderby=lastpost">最后发表</a></li>
                        <li><a href="forum.php?mod=forumdisplay&amp;fid=37&amp;filter=heat&amp;orderby=heats">热门</a></li>
                        <ul>
                        </ul>
                    </ul>
                </div>
                <div class="bm bw0 pgs cl">
                    <span id="fd_page_bottom"></span>
                    <span id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'21'})" class="pgb y"><a href="forum.php">返&nbsp;回</a></span>
                    <a href="javascript:;" id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})" onclick="location.href='forum.php?mod=post&action=newthread&fid=37';return false;" title="发新帖"></a>
                </div>
                <div class="nex_forumlist_btm_ads">
                    <!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"><div id="frameifAlkD" class="frame move-span cl frame-1"><div id="frameifAlkD_left" class="column frame-1-c"><div id="frameifAlkD_left_temp" class="move-span temp"></div><div id="portal_block_125" class="block move-span"><div id="portal_block_125_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/forumlist/ads3.jpg" /></a></div></div></div></div></div></div><!--[/diy]-->
                </div>

                <!--[diy=diyforumdisplaybottom]--><div id="diyforumdisplaybottom" class="area"></div><!--[/diy]-->

            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div id="visitedforums_menu" class="p_pop blk cl" style="display: none;">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td id="v_forums">
                    <h3 class="mbn pbn bbda xg1">浏览过的版块</h3>
                    <ul class="xl xl1">
                        <li><a href="forum.php?mod=forumdisplay&fid=2">ACG视频</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=40">漫画下载</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=38">ACG讨论</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=59">音乐歌单</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=58">动漫音乐</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=42">番剧动漫</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=39">次元漫画</a></li>
                        <li><a href="forum.php?mod=forumdisplay&fid=36">Cosplay</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">document.onkeyup = function (e) { keyPageScroll(e, 0, 0, 'forum.php?mod=forumdisplay&fid=37&filter=&orderby=lastpost&', 1); }</script>
    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>
    <script>fixed_top_nv();</script>
</div>