@{
    ViewData["Title"] = "PlayerV1";
    Layout = "~/Views/Shared/_AiliDaoLayout.cshtml";
    ViewBag.css = "data/cache/style_2_forum_viewthread.css";
    ViewBag.selectPage = 2;
}

<div id="wp" class="wp">
    <script type="text/javascript">var fid = parseInt('42'), tid = parseInt('239');</script>
    <script src="static/js/forum_viewthread.js?knt" type="text/javascript"></script>
    <script type="text/javascript">zoomstatus = parseInt(1); var imagemaxwidth = '800'; var aimgcount = new Array();</script>

    <style id="diy_style" type="text/css"></style>
    <!--[diy=diynavtop]--><div id="diynavtop" class="area"></div><!--[/diy]-->
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="./" class="nvhm" title="首页">动漫次元视频资源综合社区</a> <em>&rsaquo;</em> <a href="forum.php?gid=41">ACG资源区</a> <em>&rsaquo;</em> <a href="forum.php?mod=forumdisplay&amp;fid=42">番剧动漫</a> <em>&rsaquo;</em> <a href="forum.php?mod=viewthread&amp;tid=239">齐木楠雄的灾难 完结篇</a>
        </div>
    </div>
    <style id="diy_style" type="text/css"></style>
    <div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>
    <!--推荐阅读-->
    <div class="nex_Product_unextend">
        <div class="nex_discuz_sidebox_top">
            <span>推荐阅读</span>
            <i class="nex_sp_line"></i>
            <a class="nex_more_btns" href="#" target="_blank">更多</a>
            <div class="clear"></div>
        </div>
        <div class="nex_bbs_tjbox">
            <ul>
                <!--[diy=nex_bbs_tjbox]-->
                <div id="nex_bbs_tjbox" class="area">
                    <div id="frameZtii5e" class="frame move-span cl frame-1">
                        <div id="frameZtii5e_left" class="column frame-1-c">
                            <div id="frameZtii5e_left_temp" class="move-span temp"></div><div id="portal_block_126" class="block move-span">
                                <div id="portal_block_126_content" class="dxb_bc">
                                    <li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=81" target="_blank">
                                            <img src="data/attachment/forum/201811/04/143333htrbjgjzu8j6lgl2.gif" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>重做初定版，那年被禁播的动漫还有人记得吗</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>重做初定版，那年被禁播的动漫还有人记得吗</h5>
                                                <div class="nex_rolling_in_author">KristenMercer</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">2164</span>
                                                    <span class="nex_rolling_replies">1</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=134" target="_blank">
                                            <img src="data/attachment/block/36/36fd77fa8f2b6e0c47ba2cd7265b694a.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>エロ本を捨てたらこの子が釣れちゃった!? </h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>エロ本を捨てたらこの子が釣れちゃった!? </h5>
                                                <div class="nex_rolling_in_author">KristenMercer</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">1501</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=113" target="_blank">
                                            <img src="data/attachment/block/8b/8b17ff6fe4a059a99789c8965c6d6274.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>[OrangeMaru (YD)] カルデアメイド (Fate/G</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>[OrangeMaru (YD)] カルデアメイド (Fate/G</h5>
                                                <div class="nex_rolling_in_author">admin</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">1043</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=130" target="_blank">
                                            <img src="data/attachment/block/a1/a16438d11889322c8499120edd660d9c.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>[上向だい] ハメ撮りガールズ [DL版]</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>[上向だい] ハメ撮りガールズ [DL版]</h5>
                                                <div class="nex_rolling_in_author">admin</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">1029</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=133" target="_blank">
                                            <img src="data/attachment/block/6c/6c3003fe377f638d29aa4c8b70d1c18a.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>[ファイヤーワークス (秋太郎)] Eat Up! (</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>[ファイヤーワークス (秋太郎)] Eat Up! (</h5>
                                                <div class="nex_rolling_in_author">KristenMercer</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">867</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=120" target="_blank">
                                            <img src="data/attachment/block/68/68386ee003fbb3f1bd070dc7dcab8557.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>[青い点 (青点)] Adlescence05 愛莉澄 [塔</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>[青い点 (青点)] Adlescence05 愛莉澄 [塔</h5>
                                                <div class="nex_rolling_in_author">不来点妹汁吗</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">839</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=135" target="_blank">
                                            <img src="data/attachment/block/c6/c696c48acef846ad83076ee38ae9570a.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>艦これおまけ本まとめ (艦隊これくしょん -</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>艦これおまけ本まとめ (艦隊これくしょん -</h5>
                                                <div class="nex_rolling_in_author">KristenMercer</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">826</span>
                                                    <span class="nex_rolling_replies">1</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=111" target="_blank">
                                            <img src="data/attachment/block/70/7096f84bb085afa907eb965d237ccdc4.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>《刀剑神域：圣母圣咏》愿优纪的全新旅程能</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>《刀剑神域：圣母圣咏》愿优纪的全新旅程能</h5>
                                                <div class="nex_rolling_in_author">薯片先生</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">825</span>
                                                    <span class="nex_rolling_replies">3</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=177" target="_blank">
                                            <img src="data/attachment/block/21/21c45b7f09a12cbaca5bb07a0bbf4c1c.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>先生とぼく 第1-3話</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>先生とぼく 第1-3話</h5>
                                                <div class="nex_rolling_in_author">萌萌哒的黎幻酱</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">817</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=123" target="_blank">
                                            <img src="data/attachment/block/1c/1ce657371c3a2faf585bd6cb63b164d3.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>[厚木で5時 (みうらっは)] 絶対魔獣輪姦III</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>[厚木で5時 (みうらっは)] 絶対魔獣輪姦III</h5>
                                                <div class="nex_rolling_in_author">不来点妹汁吗</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">726</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=119" target="_blank">
                                            <img src="data/attachment/block/b9/b9dcadaf33184fdf5db83fbc40da4124.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>[青い点 (青点)] Adlescence07 愛莉澄の夏</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>[青い点 (青点)] Adlescence07 愛莉澄の夏</h5>
                                                <div class="nex_rolling_in_author">不来点妹汁吗</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">678</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li><li class="nex_bbs_tjspk">
                                        <a href="forum.php?mod=viewthread&tid=103" target="_blank">
                                            <img src="data/attachment/block/5d/5de56186591f3c6fc30742c121ac91b7.jpg" width="185" height="110" />
                                            <div class="nex_rolling_out">
                                                <h5>扔个技能都要花98个亿？！带你看史上最“烧</h5>
                                            </div>
                                            <div class="nex_rolling_in">
                                                <h5>扔个技能都要花98个亿？！带你看史上最“烧</h5>
                                                <div class="nex_rolling_in_author">面饼仙儿</div>
                                                <div class="nex_rolling_in_btms">
                                                    <span class="nex_rolling_views">648</span>
                                                    <span class="nex_rolling_replies">0</span>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[/diy]-->

                <div class="clear"></div>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src='template/nex_manga_181008/neoconex/js/jquery.SuperSlide.2.1.1.js'></script>
    <div class="nex_junctionport">
        <div class="nex_junctionport_inter">
            <div class="nex_junction_Top"></div>
            <div class="nex_junction_Mid">
                <div class="nex_junc_avator">
                    <div class="nex_jct_avaot"><a href="home.php?mod=space&amp;uid=4" target="_blank" title="访问我的空间" c="1"><img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=4&size=middle" /></a></div>
                    <em>up主</em>
                </div>
                <div class="nex_junc_intels">
                    <div class="nex_junc_username">
                        <div class="nex_junc_usernamel"><a href="home.php?mod=space&amp;uid=4" target="_blank">不来点妹汁吗</a></div>

                        <div class="nex_junc_usernamer">
                            Lv.7                    	<!--<span>版主</span>-->
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="nex_juncin_score">
                        <em>第 4 号会员，</em><span>111活跃度</span>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="nex_junction_userdata">
                    <ul>
                        <li><strong>44</strong><span>发帖</span></li>
                        <li><strong>43</strong><span>主题</span></li>
                        <li><strong>0</strong><span>关注</span></li>
                        <li class="nex_junction_userdate_last"><strong>1</strong><span>粉丝</span></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="nex_junction_user_intro">下期内容较长，请各位稍安勿躁。Q群345449925喜欢可加=。=私信必必必必必必必回</div>
                <div class="nex_junction_func_part">

                    <ul class="user_contact cl">
                        <li class="nex_user_pm">
                            <a href="home.php?mod=spacecp&amp;ac=pm&amp;op=showmsg&amp;handlekey=showmsg_4&amp;touid=4&amp;pmid=0&amp;daterange=2&amp;tid=239" onclick="showWindow('sendpm', this.href);" title="发消息">发私信</a>
                        </li>
                        <li class="nex_user_follow"><a href="home.php?mod=spacecp&amp;ac=follow&amp;op=add&amp;hash=744dccd4&amp;fuid=4" id="followmod_4" title="收听TA" class="xi2" onclick="showWindow('followmod', this.href, 'get', 0);">收听TA</a></li>
                    </ul>
                </div>
                <div class="nex_medalbox">
                    <ul>
                        <li>
                            <img src="static/image/common/medal3.gif" alt="" id="md_" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md__menu', 'pos':'12!'});" initialized="true" />
                            <div class="nex_medaltip_c">
                                <i class="nex_tip_horn"></i>
                                <h4>热心会员</h4>
                                <div class="nex_medaldes">经常帮助其他会员答疑</div>
                            </div>
                        </li>
                        <li>
                            <img src="static/image/common/medal4.gif" alt="" id="md_" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md__menu', 'pos':'12!'});" initialized="true" />
                            <div class="nex_medaltip_c">
                                <i class="nex_tip_horn"></i>
                                <h4>推广达人</h4>
                                <div class="nex_medaldes">积极宣传本站，为本站带来更多注册会员</div>
                            </div>
                        </li>
                        <li>
                            <img src="static/image/common/medal5.gif" alt="" id="md_" onmouseover="showMenu({'ctrlid':this.id, 'menuid':'md__menu', 'pos':'12!'});" initialized="true" />
                            <div class="nex_medaltip_c">
                                <i class="nex_tip_horn"></i>
                                <h4>宣传达人</h4>
                                <div class="nex_medaldes">积极宣传本站，为本站带来更多的用户访问量</div>
                            </div>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>

        <!--ads-->
        <div class="nex_ucthread_sideads"><!--[diy=nex_ucthread_sideads1]--><div id="nex_ucthread_sideads1" class="area"><div id="frameMIjExw" class="frame move-span cl frame-1"><div id="frameMIjExw_left" class="column frame-1-c"><div id="frameMIjExw_left_temp" class="move-span temp"></div><div id="portal_block_127" class="block move-span"><div id="portal_block_127_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/viewthread/ads1.jpg" /></a></div></div></div></div></div></div><!--[/diy]--></div>
        <!--最近评论-->
        <div class="nex_discuz_sidebox nex_discuz_sidebox_se">
            <div class="nex_discuz_sidebox_top">
                <span>最近评论</span>
                <div class="clear"></div>
            </div>
            <div class="nex_hot_comments">
                <!--[diy=nex_hot_comments]--><div id="nex_hot_comments" class="area">
                    <div id="framesxXOA9" class="frame move-span cl frame-1">
                        <div id="framesxXOA9_left" class="column frame-1-c">
                            <div id="framesxXOA9_left_temp" class="move-span temp"></div><div id="portal_block_128" class="block move-span">
                                <div id="portal_block_128_content" class="dxb_bc">
                                    <ul>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=138" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />
                                                        <span>admin</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-13</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    2017年以歌手的身分出道的声优歌手齐藤壮马，曾发售3张单曲CD，获得粉丝好评。官方日
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=138" target="_blank">声优齐藤壮马将推出首张专辑并举办首场个人</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=137" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />
                                                        <span>admin</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-13</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    《学园孤岛》是一部由海法纪光原作、千叶サドル作画、连载于芳文社旗下《Manga Time K
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=137" target="_blank">超人气学园青春故事！《学园孤岛》真人版预</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=66" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=1&size=middle" />
                                                        <span>admin</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    “宅”这个词在现在已经使用的比较普遍了，还有漫画家、同人作者这些需要长时间呆在室
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=66" target="_blank">日本网友列出“阿宅疲劳等级” 满级就可以</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=65" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />
                                                        <span>萌萌哒的黎幻酱</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    根据官方公开的情报，《请问您今天要来点兔子吗？》与罗森展开的冬季新联动将从2018年
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=65" target="_blank">《女高中生的无用日常》动画化决定</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=64" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />
                                                        <span>萌萌哒的黎幻酱</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    日本英雄题材动画电影《我的英雄学院》正在海外上映中，票房口碑都是相当不错，今天（
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=64" target="_blank">《我的英雄学院》真人电影预计将于传奇影业</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=63" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />
                                                        <span>萌萌哒的黎幻酱</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    作为已经出道的偶像前辈，高垣枫是《偶像大师灰姑娘女孩》中被后辈憧憬的对象，她拥有
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=63" target="_blank">《偶像大师》高垣枫甜美短裙手办 长腿女王</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=62" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=7&size=middle" />
                                                        <span>萌萌哒的黎幻酱</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    彩色漫画《山河社稷图》是中国台湾漫画家月藏的长篇玄幻冒险幽默作品，于2012年4月2
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=62" target="_blank">两者强强联合也能互相为对方刷上一波存在感</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=61" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />
                                                        <span>KristenMercer</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    14岁，南家的二姐，中学二年级学生。在三姐妹中担任装傻兼吐槽的角色，可以说得上家
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=61" target="_blank">有些次女性格真的很二，接下来，我们就来盘</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=60" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />
                                                        <span>KristenMercer</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    前不久伴随着《刀剑神域》第三季动画的开播，官方推出了一个AI成长系统打造的应援宣传
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=60" target="_blank">AI终将成为人类？索尼将推出人工智能人格养</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="nex_hcom_top">
                                                <div class="nex_hcom_author">
                                                    <a href="forum.php?mod=viewthread&tid=59" target="_blank">
                                                        <img src="http://47.100.112.22/demo/manga/uc_server/avatar.php?uid=6&size=middle" />
                                                        <span>KristenMercer</span>
                                                        <div class="clear"></div>
                                                    </a>
                                                </div>
                                                <div class="nex_hcom_date">2018-11-04</div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="nex_hcom_mid">
                                                <i></i><p>
                                                    《宝石之国》最新主视觉图更新。另外，负责作品背景美术的赤木寿子今日在推特上公开了
                                                </p>
                                            </div>
                                            <div class="nex_hcom_btm">
                                                <a href="forum.php?mod=viewthread&tid=59" target="_blank">《宝石之国》最新主视觉图及手绘背景图公布</a>
                                                <em>ACG讨论</em>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--[/diy]-->
            </div>
            <script type="text/javascript">
                jQuery(".nex_hot_comments").slide({ mainCell: "ul", effect: "topLoop", vis: 5, scroll: 1, autoPlay: true, autoPage: true, switchLoad: "_src" });
            </script>
        </div>
        <!--热门专题-->
        <div class="nex_discuz_sidebox nex_discuz_sidebox_se">
            <div class="nex_discuz_sidebox_top">
                <span>热门专题</span>
                <div class="clear"></div>
            </div>
            <div class="nex_hot_tropicals">
                <ul>
                    <!--[diy=nex_hot_tropicals]-->
                    <div id="nex_hot_tropicals" class="area">
                        <div id="framefa22E9" class="frame move-span cl frame-1">
                            <div id="framefa22E9_left" class="column frame-1-c">
                                <div id="framefa22E9_left_temp" class="move-span temp"></div><div id="portal_block_129" class="block move-span">
                                    <div id="portal_block_129_content" class="dxb_bc">
                                        <li class="on">
                                            <div class="nex_tropical_out">
                                                <h5>重做初定版，那年被禁播的动漫还有人记得吗</h5>
                                            </div>
                                            <div class="nex_tropical_in">
                                                <a href="forum.php?mod=viewthread&tid=81" target="_blank">
                                                    <img src="data/attachment/forum/201811/04/143333htrbjgjzu8j6lgl2.gif" width="270" height="160" />
                                                    <h5>重做初定版，那年被禁播的动漫还有人记得吗</h5>
                                                </a>
                                            </div>
                                        </li><li>
                                            <div class="nex_tropical_out">
                                                <h5>エロ本を捨てたらこの子が釣れちゃった!? </h5>
                                            </div>
                                            <div class="nex_tropical_in">
                                                <a href="forum.php?mod=viewthread&tid=134" target="_blank">
                                                    <img src="data/attachment/block/2d/2dcdf570ac39d6842c33c859a9572d8f.jpg" width="270" height="160" />
                                                    <h5>エロ本を捨てたらこの子が釣れちゃった!? </h5>
                                                </a>
                                            </div>
                                        </li><li>
                                            <div class="nex_tropical_out">
                                                <h5>[OrangeMaru (YD)] カルデアメイド (Fate/G</h5>
                                            </div>
                                            <div class="nex_tropical_in">
                                                <a href="forum.php?mod=viewthread&tid=113" target="_blank">
                                                    <img src="data/attachment/block/d8/d8d55a12b32283016e1e4df9f3de3afc.jpg" width="270" height="160" />
                                                    <h5>[OrangeMaru (YD)] カルデアメイド (Fate/G</h5>
                                                </a>
                                            </div>
                                        </li><li>
                                            <div class="nex_tropical_out">
                                                <h5>[上向だい] ハメ撮りガールズ [DL版]</h5>
                                            </div>
                                            <div class="nex_tropical_in">
                                                <a href="forum.php?mod=viewthread&tid=130" target="_blank">
                                                    <img src="data/attachment/block/4c/4c49b871cbf8e1e9af014a73eec0dbfb.jpg" width="270" height="160" />
                                                    <h5>[上向だい] ハメ撮りガールズ [DL版]</h5>
                                                </a>
                                            </div>
                                        </li><li>
                                            <div class="nex_tropical_out">
                                                <h5>[ファイヤーワークス (秋太郎)] Eat Up! (</h5>
                                            </div>
                                            <div class="nex_tropical_in">
                                                <a href="forum.php?mod=viewthread&tid=133" target="_blank">
                                                    <img src="data/attachment/block/fd/fdf12e70ecadbfa063c6259d0b68b820.jpg" width="270" height="160" />
                                                    <h5>[ファイヤーワークス (秋太郎)] Eat Up! (</h5>
                                                </a>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[/diy]-->
                </ul>
            </div>
            <script type="text/javascript">
                jQuery(".nex_hot_tropicals ul li").each(function (s) {
                    jQuery(this).hover(function () {
                        jQuery(this).addClass("on").siblings().removeClass("on");
                    })
                })
            </script>
        </div>
        <!--精选帖子-->
        <div class="nex_discuz_sidebox nex_fellow">
            <div class="nex_discuz_sidebox_top">
                <span>精选帖子</span>
                <div class="clear"></div>
            </div>
            <div class="nex_dz_selected_box">
                <ul>
                    <!--[diy=nex_dz_selected_box]-->
                    <div id="nex_dz_selected_box" class="area">
                        <div id="frameHuE5ow" class="frame move-span cl frame-1">
                            <div id="frameHuE5ow_left" class="column frame-1-c">
                                <div id="frameHuE5ow_left_temp" class="move-span temp"></div><div id="portal_block_130" class="block move-span">
                                    <div id="portal_block_130_content" class="dxb_bc">
                                        <li>
                                            <div class="nex_selectpic"><a href="forum.php?mod=viewthread&tid=296" target="_blank"><img src="data/attachment/block/9b/9b6128f542ccf445adc192778e014913.jpg" width="110" height="70" /></a></div>
                                            <div class="nex_selectinfo">
                                                <h5><a href="forum.php?mod=viewthread&tid=296" target="_blank">辉夜大小姐想让我告白～天才们的恋爱头脑战</a></h5>
                                                <p>阅读数：32</p>
                                            </div>
                                            <div class="clear"></div>
                                        </li><li>
                                            <div class="nex_selectpic"><a href="forum.php?mod=viewthread&tid=295" target="_blank"><img src="data/attachment/block/f0/f0f517a2077ff0cc816c141db69e34c2.jpg" width="110" height="70" /></a></div>
                                            <div class="nex_selectinfo">
                                                <h5><a href="forum.php?mod=viewthread&tid=295" target="_blank">不可逆リプレイス  TV动画《信长协奏曲》片</a></h5>
                                                <p>阅读数：19</p>
                                            </div>
                                            <div class="clear"></div>
                                        </li><li>
                                            <div class="nex_selectpic"><a href="forum.php?mod=viewthread&tid=294" target="_blank"><img src="data/attachment/block/2f/2f51f0552dc90942fc67d111c2f0a25d.jpg" width="110" height="70" /></a></div>
                                            <div class="nex_selectinfo">
                                                <h5><a href="forum.php?mod=viewthread&tid=294" target="_blank">nameless story  TV动画《某科学的超电磁炮</a></h5>
                                                <p>阅读数：24</p>
                                            </div>
                                            <div class="clear"></div>
                                        </li><li>
                                            <div class="nex_selectpic"><a href="forum.php?mod=viewthread&tid=293" target="_blank"><img src="data/attachment/block/3e/3eb175e5782f3e9cd50373868e84f032.jpg" width="110" height="70" /></a></div>
                                            <div class="nex_selectinfo">
                                                <h5><a href="forum.php?mod=viewthread&tid=293" target="_blank">More One Night  TV动画《少女终末旅行》片</a></h5>
                                                <p>阅读数：18</p>
                                            </div>
                                            <div class="clear"></div>
                                        </li><li>
                                            <div class="nex_selectpic"><a href="forum.php?mod=viewthread&tid=292" target="_blank"><img src="data/attachment/block/40/40809777a487d67a6d08faeba62f3a7c.jpg" width="110" height="70" /></a></div>
                                            <div class="nex_selectinfo">
                                                <h5><a href="forum.php?mod=viewthread&tid=292" target="_blank">イこうぜ☆パラダイス TV动画《异种族风俗</a></h5>
                                                <p>阅读数：21</p>
                                            </div>
                                            <div class="clear"></div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--[/diy]-->
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(window).scroll(function () {
                var rightH = jQuery('.nex_junctionport').height();
                var t = jQuery(".nex_junctionport").offset().top;
                var cH = jQuery(document).height();
                var h = jQuery(this).scrollTop();
                var fH = jQuery('nexfooter').height();
                var wH = jQuery(window).height();
                var hH = cH - (h + wH);
                if (h > rightH && hH > fH) {
                    jQuery(".nex_fellow").addClass('nexfixed');
                } else {
                    jQuery(".nex_fellow").removeClass('nexfixed');
                }
            });
        </script>
        <!--ads-->
        <div class="nex_ucthread_sideads"><!--[diy=nex_dz_selected_box1]--><div id="nex_dz_selected_box1" class="area"><div id="frameL4jZBx" class="frame move-span cl frame-1"><div id="frameL4jZBx_left" class="column frame-1-c"><div id="frameL4jZBx_left_temp" class="move-span temp"></div><div id="portal_block_131" class="block move-span"><div id="portal_block_131_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/viewthread/ads3.jpg" /></a></div></div></div></div></div></div><!--[/diy]--></div>
    </div>

    <div id="ct" class="wp cl  ct2">
        <div class="mn"         <script type="text/javascript" src='template/nex_manga_181008/neoconex/js/jquery.SuperSlide.2.1.1.js'></script>

        <div id="pgt" class="pgs mbm cl " style=" display:none;">
            <div class="pgt"></div>
            <span class="y pgb" id="visitedforums" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'34'})"><a href="forum.php?mod=forumdisplay&amp;fid=42">返回列表</a></span>
                            <a id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})" onclick="location.href='forum.php?mod=post&action=newthread&fid=42';return false;" href="javascript:;" title="发新帖"><img src="static/image/common/pn_post.png" alt="发新帖" /></a>                                            </div>

    	<div id="postlist" class="pl bm nex_others">

        <div class="vwthdtit cl">

                                    <a onclick="setcookie('close_leftinfo', 2);location.reload();" title="开启左侧" class="btn_s_open" href="javascript:;"><img src="template/nex_manga_181008/neoconex/viewthread/control_r.png" alt="开启左侧" class="vm" /></a>

                                    <h1 class="vwthdts z">
                                                <span id="thread_subject">齐木楠雄的灾难 完结篇</span>
            </h1>
                        <span class="xg1">
                                                                                                <a href="forum.php?mod=viewthread&amp;tid=239" onclick="return copyThreadUrl(this, '动漫次元视频资源综合社区')" >[复制链接]</a>
            </span>
                    </div>

        <script type="text/javascript">
jQuery(".vwthdewm").hover(function(){
jQuery(this).children(".vwthdewmsub").show();
},function(){
jQuery(this).children(".vwthdewmsub").hide();
})
</script>

        <table cellspacing="0" cellpadding="0" class="ad" style=" display:none;">
            <tr>
                <td class="pls">
                                </td>
            </tr>
        </table>

            <div id="post_284" class="viewbox firstfloor cl">

<table id="pid284" class="plhin boxtable" summary="pid284" cellspacing="0" cellpadding="0">
<tr>
<td class="plc">
<div class="pi">
                                <div class="foldcount y">
                    <span class="foldviews"></span>
                    <em>129</em>
                    <span class="foldreplies"></span>
                    <em>0</em>
                </div>
                                <div class="pti">
<div class="pdbt">
</div>
<div class="authi firstauthi">

                                <img class="authicn vm" id="authicon284" src="static/image/common/online_moderator.gif" />
<a href="home.php?mod=space&amp;uid=4" target="_blank" class="xi2">不来点妹汁吗</a>
<em id="authorposton284">发表于 2019-10-25 15:35:37</em>
<span class="pipe">|</span>
<a href="forum.php?mod=viewthread&amp;tid=239&amp;page=1&amp;authorid=4" rel="nofollow">只看该作者</a>
                    <span class="pipe ">|</span><a href="javascript:;" onclick="readmode($('thread_subject').innerHTML, 284);" class="">阅读模式</a>
<span class="pl10">
<a href="forum.php?mod=viewthread&amp;action=printable&amp;tid=239" title="打印" target="_blank"><img src="static/image/common/print.png" alt="打印" class="vm" /></a>
<a href="forum.php?mod=redirect&amp;goto=nextoldset&amp;tid=239" title="上一主题"><img src="static/image/common/thread-prev.png" alt="上一主题" class="vm" /></a>
<a href="forum.php?mod=redirect&amp;goto=nextnewset&amp;tid=239" title="下一主题"><img src="static/image/common/thread-next.png" alt="下一主题" class="vm" /></a>
</span>
</div>
</div>
</div><div class="pct"><style type="text/css">.pcb{margin-right:0}</style><div class="pcb">

<!-- /mod_viewthread.php原接口/ -->
                        <link rel="stylesheet" type="text/css" href="template/nex_manga_181008/neoconex/fenlei/sort.css">
        <div class="nex_sortmains">
                            <div class="nex_fanju_mainbox">
	<!--播放窗口-->
    <div class="nex_fanju_playbox">
    	<ul>
        	<li style="display:block;">
            	<iframe style="width: 790px;height: 500px" src="http://player.youku.com/embed/XMzk4NDg4MDg2NA==" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="http://player.youku.com/embed/XMzk4NDg4MDg2OA==" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
            <li>
            	<iframe style="width: 790px;height: 500px" src="" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            </li>
        </ul>
    </div>

    <!--选集-->
    <div class="nex_selection_jishu">
    	<span>播放选集</span>
        <div class="nex_selection_notice">更新说明：高中生·齐木楠雄是超能力者。心灵感应、念动力、透视、预知、瞬间移动、千里眼等，不论任何事情都自由自在</div>
        <div class="clear"></div>
    </div>
<div class="clear"></div>
    <div class="nex_fanju_xuanjibox">
    	<ul>
        	<li class="available cur">1</li>
            <li class="available">2</li>
            <li class="">3</li>
            <li class="">4</li>
            <li class="">5</li>
            <li class="">6</li>
            <li class="">7</li>
            <li class="">8</li>
            <li class="">9</li>
            <li class="">10</li>
            <li class="">11</li>
            <li class="">12</li>
            <li class="">13</li>
            <li class="">14</li>
            <li class="">15</li>
            <li class="">16</li>
            <li class="">17</li>
            <li class="">18</li>
            <li class="">19</li>
            <li class="">20</li>
            <div class="clear"></div>
        </ul>
    </div>
    <script type="text/javascript">
		jQuery(".nex_fanju_xuanjibox ul li").each(function(s){
			jQuery(this).click(function(){
				jQuery(this).addClass("cur").siblings().removeClass("cur");
				jQuery(".nex_fanju_playbox ul li").eq(s).show().siblings().hide();
				})
			})
	</script>
    <!--番剧详情-->
    <div class="nex_fanju_detailtitle">
    	<span>番剧详情</span>
        <div class="clear"></div>
    </div>
    <div class="nex_fanju_deatail">
    	<div class="nex_fanju_dl"><img src="data/attachment/forum/201910/25/153323sul3062ll0f2fzy0.jpg" /></div>
        <div class="nex_fanju_dr">
        	<div class="nex_fanju_nametop">
            	<span>齐木楠雄的灾难 完结篇 </span>
                <em>搞笑</em>&nbsp;
                <div class="clear"></div>
            </div>
            <div class="nex_fanju_terms">2018-05-10更新<em>已完结</em>, <em>共2集</em></div>
            <div class="nex_fanju_intro">简介：完結編では、原作漫画の「忍舞市旅行エピソード」も描かれるぞ！<br />
　　忍舞市に集合した斉木たちを襲う災難とは…!?<br />
　　更にメインビジュアルに空助と鳥束とねこ戦車が登場！<br />
　　いつもの「澄んだ目をした煩悩だらけのエロ霊能力者&#12539;鳥束」の様子が何だかおかしい…？<br />
　　空助と鳥束の関係とは…！？</div>
            <div class="nex_fanju_rating">
                <h4>9.2<em>分</em></h4>
                <div class="nex_fanju_stars"><em style="width:92%;"></em></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>                    </div>
        <script type="text/javascript">
 jQuery(function(){
  jQuery('#nex_favtocell').click(function(){jQuery('html,body').animate({scrollTop:jQuery('#nex_height_dot').offset().top}, 600);});})
</script>
        <div class="t_fsz">
<table cellspacing="0" cellpadding="0"><tr><td class="t_f" id="postmessage_284">
<br />
</td></tr></table>
<div class="attach_nopermission attach_tips">
<div>
<h3><strong>本帖子中包含更多资源</strong></h3>
<p>您需要 <a href="member.php?mod=logging&amp;action=login" onclick="showWindow('login', this.href);return false;">登录</a> 才可以下载或查看，没有帐号？<a href="member.php?mod=register" title="注册帐号">立即注册</a> </p>
</div>
<span class="atips_close" onclick="this.parentNode.style.display='none'">x</span>
</div>
</div>
<div id="comment_284" class="cm">
</div>

<div id="post_rate_div_284"></div>
</div>
</div>
</td></tr>
<tr><td class="plc plm">
<div id="nex_height_dot" style="height:60px;"></div>
<div id="p_btn" class="mtw mbm hm cl">

<a href="home.php?mod=spacecp&amp;ac=favorite&amp;type=thread&amp;id=239" id="k_favorite" onclick="showWindow(this.id, this.href, 'get', 0);" onmouseover="this.title = $('favoritenumber').innerHTML + ' 人收藏'" title="收藏本帖">
                    	<i></i>
                    	<span class="nex_sc">收藏</span>
                    	<span class="nex_sdnums" id="favoritenumber">0</span>
                    </a>
<a class="followp" href="home.php?mod=spacecp&amp;ac=follow&amp;op=relay&amp;tid=239&amp;from=forum" onclick="showWindow('relaythread', this.href, 'get', 0);" title="转播求扩散">
                        <i></i>
                        <span class="nex_sc">转播</span>
                        </a>
<a class="sharep" href="home.php?mod=spacecp&amp;ac=share&amp;type=thread&amp;id=239" onclick="showWindow('sharethread', this.href, 'get', 0);" title="分享推精华">
                        <i></i>
                        <span class="nex_sc">分享                        </a>
<a href="forum.php?mod=collection&amp;action=edit&amp;op=addthread&amp;tid=239" id="k_collect" onclick="showWindow(this.id, this.href);return false;" onmouseover="this.title = $('collectionnumber').innerHTML + ' 人淘帖'" title="淘好帖进专辑">
                        <i></i>
                        <span class="nex_sc">淘帖</span><span id="collectionnumber" >0</span>
                        </a>
<a id="recommend_add" href="forum.php?mod=misc&amp;action=recommend&amp;do=add&amp;tid=239&amp;hash=744dccd4"  onclick="showWindow('login', this.href)" onmouseover="this.title = $('recommendv_add').innerHTML + ' 人支持'" title="顶一下">
                        <i></i>
                        <span class="nex_sc">支持</span>
                        <span class="nex_sdnums" id="recommendv_add" >0</span>
                        </a>
<a id="recommend_subtract" href="forum.php?mod=misc&amp;action=recommend&amp;do=subtract&amp;tid=239&amp;hash=744dccd4"  onclick="showWindow('login', this.href)" onmouseover="this.title = $('recommendv_subtract').innerHTML + ' 人反对'" title="踩一下">
                        <i></i>
                        <span class="nex_sc">反对</span>
                        <span class="nex_sdnums" id="recommendv_subtract" >0</span>
                        </a>
</div>
</td>
</tr>
<tr id="_postposition284"></tr>
<tr>
<td class="plc" style="overflow:visible;">
<div class="po hin">
<div class="pob cl">
<em>
<a class="fastre" href="forum.php?mod=post&amp;action=reply&amp;fid=42&amp;tid=239&amp;reppost=284&amp;extra=&amp;page=1" onclick="showWindow('reply', this.href)">回复</a>
</em>

<p>
<a href="javascript:;" id="mgc_post_284" onmouseover="showMenu(this.id)" class="showmenu">使用道具</a>
<a href="javascript:;" onclick="showWindow('miscreport284', 'misc.php?mod=report&rtype=post&rid=284&tid=239&fid=42', 'get', -1);return false;">举报</a>
</p>

<ul id="mgc_post_284_menu" class="p_pop mgcmn" style="display: none;">
</ul>
<script type="text/javascript" reload="1">checkmgcmn('post_284')</script>
</div>
</div>
</td>
</tr>
<tr class="ad">
<td class="pls">
</td>
</tr>
</table>
            </div>
                            <div class="nex_vttop_ads"><!--[diy=nex_vttop_ads]--><div id="nex_vttop_ads" class="area"><div id="frameJAO3Jd" class="frame move-span cl frame-1"><div id="frameJAO3Jd_left" class="column frame-1-c"><div id="frameJAO3Jd_left_temp" class="move-span temp"></div><div id="portal_block_132" class="block move-span"><div id="portal_block_132_content" class="dxb_bc"><div class="portal_block_summary"><a href="#" target="_blank"><img src="template/nex_manga_181008/neoconex/viewthread/ads2.jpg" /></a></div></div></div></div></div></div><!--[/diy]--></div>
        <div id="postlistreply" class="pl"><div id="post_new" class="viewthread_table" style="display: none"></div></div>
            </div>

    <form method="post" autocomplete="off" name="modactions" id="modactions">
        <input type="hidden" name="formhash" value="744dccd4" />
        <input type="hidden" name="optgroup" />
        <input type="hidden" name="operation" />
        <input type="hidden" name="listextra" value="" />
        <input type="hidden" name="page" value="1" />
    </form>

    <div class="pgs mtm mbm cl">
    	<div class="nex_canyubox">
            <a class="nex_side_post" onclick="showWindow('newthread', 'forum.php?mod=post&amp;action=newthread&amp;fid=42')" href="javascript:;" title="发新帖">发布主题</a>
                    <div class="clear"></div>
        </div>
                <span class="pgb y" id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'21'})"><a href="forum.php?mod=forumdisplay&amp;fid=42">返回列表</a></span>
    </div>

        <!--[diy=diyfastposttop]--><div id="diyfastposttop" class="area"></div><!--[/diy]-->
            <script type="text/javascript">
var postminchars = parseInt('10');
var postmaxchars = parseInt('10000');
var disablepostctrl = parseInt('0');
</script>

<div id="f_pst" class="pl bm bmw">
<form method="post" autocomplete="off" id="fastpostform" action="forum.php?mod=post&amp;action=reply&amp;fid=42&amp;tid=239&amp;extra=&amp;replysubmit=yes&amp;infloat=yes&amp;handlekey=fastpost" onSubmit="return fastpostvalidate(this)">
<table cellspacing="0" cellpadding="0">
<tr>
<td class="pls">
                <div class="nex_unlog_avator"><img src="template/nex_manga_181008/neoconex/viewthread/default_avator1.png" /></div>
                </td>
<td class="plc">

<span id="fastpostreturn"></span>

<div class="cl">
<div id="fastsmiliesdiv" class="y"><div id="fastsmiliesdiv_data"><div id="fastsmilies"></div></div></div><div class="hasfsl" id="fastposteditor">
<div class="tedt mtn">
<div class="bar">
<span class="y">
<a href="forum.php?mod=post&amp;action=reply&amp;fid=42&amp;tid=239" onclick="return switchAdvanceMode(this.href)">高级模式</a>
</span><script src="static/js/seditor.js?knt" type="text/javascript"></script>
<div class="fpd">
<a href="javascript:;" title="文字加粗" class="fbld">B</a>
<a href="javascript:;" title="设置文字颜色" class="fclr" id="fastpostforecolor">Color</a>
<a id="fastpostimg" href="javascript:;" title="图片" class="fmg">Image</a>
<a id="fastposturl" href="javascript:;" title="添加链接" class="flnk">Link</a>
<a id="fastpostquote" href="javascript:;" title="引用" class="fqt">Quote</a>
<a id="fastpostcode" href="javascript:;" title="代码" class="fcd">Code</a>
<a href="javascript:;" class="fsml" id="fastpostsml">Smilies</a>
</div></div>
<div class="area">
<div class="pt hm">
您需要登录后才可以回帖 <a href="member.php?mod=logging&amp;action=login" onclick="showWindow('login', this.href)" class="xi2">登录</a> | <a href="member.php?mod=register" class="xi2">立即注册</a>
</div>
</div>
</div>
</div>
</div>
<div id="seccheck_fastpost">
</div>

<input type="hidden" name="formhash" value="744dccd4" />
<input type="hidden" name="usesig" value="" />
<input type="hidden" name="subject" value="  " />
<p class="ptm pnpost">
<a href="home.php?mod=spacecp&amp;ac=credit&amp;op=rule&amp;fid=42" class="y" target="_blank">本版积分规则</a>
<button type="button" onclick="showWindow('login', 'member.php?mod=logging&action=login&guestmessage=yes')" onmouseover="checkpostrule('seccheck_fastpost', 'ac=reply');this.onmouseover=null" name="replysubmit" id="fastpostsubmit" class="pn pnc vm" value="replysubmit" tabindex="5">发表回复</button>
<label class="lb"><input type="checkbox" name="adddynamic" class="pc" value="1" />回帖并转播</label>
<label for="fastpostrefresh"><input id="fastpostrefresh" type="checkbox" class="pc" />回帖后跳转到最后一页</label>
<script type="text/javascript">if(getcookie('fastpostrefresh') == 1) {$('fastpostrefresh').checked=true;}</script>
</p>
</td>
</tr>
</table>
</form>
</div>

            <div id="visitedforums_menu" class="p_pop blk cl" style="display: none;">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td id="v_forums">
                        <h3 class="mbn pbn bbda xg1">浏览过的版块</h3>
                        <ul class="xl xl1">
                            <li><a href="forum.php?mod=forumdisplay&fid=40">漫画下载</a></li><li><a href="forum.php?mod=forumdisplay&fid=2">ACG视频</a></li><li><a href="forum.php?mod=forumdisplay&fid=39">次元漫画</a></li><li><a href="forum.php?mod=forumdisplay&fid=59">音乐歌单</a></li><li><a href="forum.php?mod=forumdisplay&fid=58">动漫音乐</a></li><li><a href="forum.php?mod=forumdisplay&fid=37">P站美图</a></li><li><a href="forum.php?mod=forumdisplay&fid=36">Cosplay</a></li><li><a href="forum.php?mod=forumdisplay&fid=38">ACG讨论</a></li>                        </ul>
                    </td>
                </tr>
            </table>
        </div>
                    <div id="md_3_menu" class="tip tip_4" style="display: none;">
            <div class="tip_horn"></div>
            <div class="tip_c">
                <h4>热心会员</h4>
                <p>经常帮助其他会员答疑</p>
            </div>
        </div>
            <div id="md_4_menu" class="tip tip_4" style="display: none;">
            <div class="tip_horn"></div>
            <div class="tip_c">
                <h4>推广达人</h4>
                <p>积极宣传本站，为本站带来更多注册会员</p>
            </div>
        </div>
            <div id="md_5_menu" class="tip tip_4" style="display: none;">
            <div class="tip_horn"></div>
            <div class="tip_c">
                <h4>宣传达人</h4>
                <p>积极宣传本站，为本站带来更多的用户访问量</p>
            </div>
        </div>

            <script type="text/javascript">document.onkeyup = function(e){keyPageScroll(e, 0, 0, 'forum.php?mod=viewthread&tid=239', 1);}</script>
        </div>
    </div>

    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>

    <script type="text/javascript">
        function succeedhandle_followmod(url, msg, values) {
            var fObj = $('followmod_' + values['fuid']);
            if (values['type'] == 'add') {
                fObj.innerHTML = '不收听';
                fObj.href = 'home.php?mod=spacecp&ac=follow&op=del&fuid=' + values['fuid'];
            } else if (values['type'] == 'del') {
                fObj.innerHTML = '收听TA';
                fObj.href = 'home.php?mod=spacecp&ac=follow&op=add&hash=744dccd4&fuid=' + values['fuid'];
            }
        }
        fixed_avatar([284], 1);
    </script>
    <!--公司产品-->
</div>