
@{
    Layout = "_AiliDaoLayout";
    ViewBag.css = "data/cache/style_2_portal_index.css";
    ViewBag.selectPage = 9;
}

<div id="wp" class="wp">
    <link rel="stylesheet" type="text/css" href="template/nex_manga_181008/neoconex/vip/main.css" />
    <div class="nex_Vip_bd">
        <div class="w1180">
            <div class="nex_Vip_User_status">
                <div class="nex_Vip_avator"><img src="template/nex_manga_181008/neoconex/vip/default.gif" /></div>
                <div class="nex_Vip_b_box">
                    <h5>开通<span>VIP</span>特权</h5>
                    <h4>进入特权阶层 畅享海量资源</h4>
                    <div class="nex_Vip_dlbtms">
                        <ul>
                            <li class="nex_Vip_dl_btn1"><a href="member.php?mod=logging&amp;action=login" onclick="showWindow('login', this.href)">立即登陆</a></li>
                            <li class="nex_Vip_dl_btn2"><a href="member.php?mod=register">还未注册</a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="nex_Vip_Advanced">
                        <ul>
                            <li class="nex_Vip_Advanced_icon1">
                                <i></i>
                                <div class="nex_Vip_Txt">
                                    <p>海量漫画</p>
                                    <p>免费下载</p>
                                </div>
                            </li>
                            <li class="nex_Vip_Advanced_icon2">
                                <i></i>
                                <div class="nex_Vip_Txt">
                                    <p>每月获赠</p>
                                    <p>免费金币</p>
                                </div>
                            </li>
                            <li class="nex_Vip_Advanced_icon3">
                                <i></i>
                                <div class="nex_Vip_Txt">
                                    <p>金币任务</p>
                                    <p>奖励翻倍</p>
                                </div>
                            </li>
                            <li class="nex_Vip_Advanced_icon4">
                                <i></i>
                                <div class="nex_Vip_Txt">
                                    <p>享受VIP</p>
                                    <p>尊贵称号</p>
                                </div>
                            </li>
                            <li class="nex_Vip_Advanced_icon5">
                                <i></i>
                                <div class="nex_Vip_Txt">
                                    <p>付费漫画</p>
                                    <p>享更多折扣</p>
                                </div>
                            </li>

                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="nex_Vip_Details">
                <div class="nex_VIP_authority">
                    <div class="nex_VIP_Body">
                        <h5>
                            <span>1.请选择您要充值的服务</span>
                        </h5>
                        <div class="nex_VIP_tabs">
                            <ul>
                                <li class="nex_VIP_labels ons">
                                    <b>体验会员</b>
                                    <div class="nex_VIP_tops">体验VIP会员</div>
                                    <div class="nex_VIP_tagINter"><em>5</em>元/天</div>
                                    <p>体验VIP会员，有效期24小时</p>
                                    <a href="#" target="_blank"><i></i>详细介绍</a>
                                    <strong></strong>
                                </li>
                                <li>
                                    <div class="nex_VIP_tops">包月VIP会员</div>
                                    <div class="nex_VIP_tagINter"><em>69</em>元/月</div>
                                    <p>包月VIP，平均每天低至1.9元</p>
                                    <a href="#" target="_blank"><i></i>详细介绍</a>
                                    <strong></strong>
                                </li>
                                <li>
                                    <div class="nex_VIP_tops">包年VIP会员</div>
                                    <div class="nex_VIP_tagINter"><em>99</em>元/年</div>
                                    <p>全站整年全部免费下载</p>
                                    <a href="#" target="_blank"><i></i>详细介绍</a>
                                    <strong></strong>
                                </li>
                                <li>
                                    <div class="nex_VIP_tops">全站终身VIP</div>
                                    <div class="nex_VIP_tagINter"><em>599</em>元/终身</div>
                                    <p>全站终身免费下载</p>
                                    <a href="#" target="_blank"><i></i>详细介绍</a>
                                    <strong></strong>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="nex_VIP_pay">
                            <ul>
                                <li style="display:block;">
                                    <div class="nex_VIP_price">应付金额：<em>￥5.00</em></div>
                                </li>
                                <li>
                                    <div class="nex_VIP_price">应付金额：<em>￥69.00</em></div>
                                </li>
                                <li>
                                    <div class="nex_VIP_price">应付金额：<em>￥99.00</em></div>
                                </li>
                                <li>
                                    <div class="nex_VIP_price">应付金额：<em>￥599.00</em></div>
                                </li>
                            </ul>
                        </div>
                        <h5><span>2.请选择支付方式</span></h5>
                        <div class="nex_VIP_selections">
                            <ul>
                                <li style="display:block;">
                                    <div class="nex_VIP_ewmbox">
                                        <dl>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/wx1.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                            </dd>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/zfb1.png" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                            </dd>
                                            <div class="clear"></div>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="nex_VIP_ewmbox">
                                        <dl>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/wx2.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                            </dd>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/zfb2.png" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                            </dd>
                                            <div class="clear"></div>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="nex_VIP_ewmbox">
                                        <dl>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/wx3.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                            </dd>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/zfb3.png" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                            </dd>
                                            <div class="clear"></div>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="nex_VIP_ewmbox">
                                        <dl>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/wx4.jpg" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                            </dd>
                                            <dd>
                                                <div class="nex_VIP_ewmpic">
                                                    <div class="nex_VIP_unlogin">
                                                        <a href="member.php?mod=logging&amp;action=login">
                                                            <em>请先登录</em>
                                                            <img src="template/nex_manga_181008/neoconex/vip/zfb4.png" />
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                            </dd>
                                            <div class="clear"></div>
                                        </dl>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <script type="text/javascript">
                            jQuery(".nex_VIP_tabs ul li").each(function (s) {
                                jQuery(this).click(function () {
                                    jQuery(this).addClass("ons").siblings().removeClass("ons");
                                    jQuery(".nex_VIP_pay ul li").eq(s).show().siblings().hide();
                                    jQuery(".nex_VIP_selections ul li").eq(s).show().siblings().hide();
                                })
                            })
                        </script>
                        <div class="nex_VIP_Advs">特殊说明</div>
                        <div class="nex_VIP_desc">
                            <p><em>**</em>注册会员充值为VIP会员后，请联络管理员<a href="tencent://Message/?Uin=1691000615&amp;websiteName=#=&amp;Menu=yes">QQ1691000615</a>修改用户组<em>**</em></p>
                            <p><em>**</em>本论坛所收集的部分公开资料来源于互联网，转载的目的在于传递更多信息及用于网络分享，并不代表本论坛赞同其观点和对其真实性负责，也不构成任何其他建议。本论坛不保证信息的准确性、有效性、及时性和完整性。本论坛及其雇员一概毋须以任何方式就任何信息传递或传送的失误、不准确或错误，对用户或任何其他人士负任何直接或间接责任。在法律允许的范围内，本论坛在此声明，不承担用户或任何人士就使用或未能使用本论坛所提供的信息或任何链接所引致的任何直接、间接、附带、从属、特殊、惩罚性或惩戒性的损害赔偿。</p>
                            <p><em>**</em>本论坛部分作品是由网友自主投稿和发布、编辑整理上传，对此类作品本论坛仅供提供学习交流和参考，禁止用户用于商业行为，并请于下载后24小时内删除，若喜欢该作品请联系原作者购买正版。如果您发现论坛上有侵犯您的知识产权的作品，请与我们取得联系，我们会及时修改或删除。</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

