
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <title>VIP 动漫次元视频资源综合社区 </title>

    <meta name="keywords" content="VIP" />
    <meta name="description" content="VIP ,动漫次元视频资源综合社区" />
    <meta name="generator" content="Discuz! X3.4" />
    <meta name="author" content="Discuz! Team and Comsenz UI Team" />
    <meta name="copyright" content="2001-2017 Comsenz Inc." />
    <meta name="MSSmartTagsPreventParsing" content="True" />
    <meta http-equiv="MSThemeCompatible" content="Yes" />
    <base href="http://47.100.112.22/demo/manga/" />
    <link rel="stylesheet" type="text/css" href="data/cache/style_2_common.css?LBz" />
    <link rel="stylesheet" type="text/css" href="data/cache/style_2_portal_list.css?LBz" />
    <script type="text/javascript">var STYLEID = '2', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'LBz', charset = 'gbk', discuz_uid = '0', cookiepre = 'm3Rn_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'newthread', creditnotice = '1|威望|,2|金钱|,3|贡献|', defaultstyle = '', REPORTURL = 'aHR0cDovLzQ3LjEwMC4xMTIuMjIvZGVtby9tYW5nYS9wb3J0YWwucGhwP21vZD1saXN0JmNhdGlkPTk=', SITEURL = 'http://47.100.112.22/demo/manga/', JSPATH = 'static/js/', CSSPATH = 'data/cache/style_', DYNAMICURL = '';</script>
    <script src="static/js/common.js?LBz" type="text/javascript"></script>
    <meta name="application-name" content="动漫次元视频资源综合社区" />
    <meta name="msapplication-tooltip" content="动漫次元视频资源综合社区" />
    <meta name="msapplication-task" content="name=门户;action-uri=http://47.100.112.22/demo/manga/portal.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/portal.ico" />
    <meta name="msapplication-task" content="name=论坛;action-uri=http://47.100.112.22/demo/manga/forum.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/bbs.ico" />
    <meta name="msapplication-task" content="name=群组;action-uri=http://47.100.112.22/demo/manga/group.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/group.ico" />
    <meta name="msapplication-task" content="name=动态;action-uri=http://47.100.112.22/demo/manga/home.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/home.ico" />
    <script src="static/js/portal.js?LBz" type="text/javascript"></script>
    <script type="text/javascript" src='template/nex_manga_181008/neoconex/js/jquery-1.8.3.min.js'></script>
    <script type="text/javascript">
        var jq=jQuery.noConflict();
    </script>
    <script language="javascript" type="text/javascript">
function killErrors() {
return true;
}
window.onerror = killErrors;
    </script>
    <script src="template/nex_manga_181008/neoconex/js/nexactions.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="template/nex_manga_181008/neoconex/js/animate.min.css">
    <script>
     var wow = new WOW({boxClass: 'nexactions',});wow.init();
    </script>
    <script type="text/javascript" src='template/nex_manga_181008/neoconex/js/jquery.SuperSlide.2.1.1.js'></script>
    <script src="template/nex_manga_181008/neoconex/js/jquery.pagnation.js" type="text/javascript"></script>
    <script type="text/javascript">
 jQuery(function(){
  jQuery('#nexGoToTop').click(function(){jQuery('html,body').animate({scrollTop:jQuery('#nextopsxx').offset().top}, 600);});})
    </script>

</head>

<body id="nv_portal" class="pg_list pg_list_9" onkeydown="if(event.keyCode==27) return false;">
    <div id="append_parent"></div><div id="ajaxwaitid"></div>
    <div id="toptb" class="cl" style="display:none;">
        <div class="wp">
            <div class="z"><a href="javascript:;" onclick="setHomepage('http://47.100.112.22/demo/manga/');">设为首页</a><a href="http://47.100.112.22/demo/manga/" onclick="addFavorite(this.href, '动漫次元视频资源综合社区');return false;">收藏本站</a></div>
            <div class="y">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="nex_plugin_reserved">
        <div class="w1180">
            <div class="z">
            </div>
            <div class="y">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="qmenu_menu" class="p_pop blk" style="display: none;">
        <div class="ptm pbw hm">
            请 <a href="javascript:;" class="xi2" onclick="lsSubmit()"><strong>登录</strong></a> 后使用快捷导航<br />没有帐号？<a href="member.php?mod=register" class="xi2 xw1">立即注册</a>
        </div>
        <div id="fjump_menu" class="btda"></div>
    </div><div id="hd">
        <div id="nextopsxx"></div>
        <div class="nex_top_bg">
            <div class="nex_top_bg_inter">
                <div class="nex_top_interior">
                    <!--logo-->
                    <div class="nexlogo"><h2><a href="./" title="动漫次元视频资源综合社区"><img src="template/nex_manga_181008/neoconex/logo.png" alt="动漫次元视频资源综合社区" border="0" /></a></h2></div>
                    <div class="nex_nav_ranklist"><a href="portal.php?mod=list&amp;catid=7" target="_blank"><i></i>排行榜</a></div>
                    <!--search-->
                    <div class="nex_top_search">
                        <div id="scbar" class="scbar_narrow cl">
                            <form id="scbar_form" method="post" autocomplete="off" onsubmit="searchFocus($('scbar_txt'))" action="search.php?searchsubmit=yes" target="_blank">
                                <input type="hidden" name="mod" id="scbar_mod" value="search" />
                                <input type="hidden" name="formhash" value="744dccd4" />
                                <input type="hidden" name="srchtype" value="title" />
                                <input type="hidden" name="srhfid" value="0" />
                                <input type="hidden" name="srhlocality" value="portal::list" />
                                <div class="nex_scbar_type_td"><a href="javascript:;" id="scbar_type" onclick="showMenu(this.id)" hidefocus="true">搜索</a></div>
                                <div class="nex_scbar_txt_td"><input type="text" name="srchtxt" id="scbar_txt" value="请输入搜索内容" autocomplete="off" x-webkit-speech speech /></div>
                                <div class="nex_scbar_btn_td"><button type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="pn pnc" value="true"></button></div>
                                <div class="clear"></div>
                            </form>
                        </div>
                        <div class="nex_scbar_hot_td">
                            <div id="nex_scbar_hot">
                                <span class="xw1">热搜: </span>


                                <a href="search.php?mod=forum&amp;srchtxt=%B3%D4%BC%A6%B4%F3%D7%F7%D5%BD&amp;formhash=744dccd4&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" class="xi2" sc="1">吃鸡大作战</a>



                                <a href="search.php?mod=forum&amp;srchtxt=%B3%F5%D2%F4%CE%B4%C0%B4%B5%E7%D2%F4&amp;formhash=744dccd4&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" class="xi2" sc="1">初音未来电音</a>



                                <a href="search.php?mod=forum&amp;srchtxt=%D7%AA%D5%BD%D6%AE%B3%AC%D0%FD%B6%B7%CA%BF&amp;formhash=744dccd4&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" class="xi2" sc="1">转战之超旋斗士</a>



                                <a href="search.php?mod=forum&amp;srchtxt=%B0%D9%C1%B6%B3%C9%C9%F1&amp;formhash=744dccd4&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" class="xi2" sc="1">百炼成神</a>



                                <a href="search.php?mod=forum&amp;srchtxt=%B9%FA%B2%FA%B6%AF%BB%AD%C6%AC&amp;formhash=744dccd4&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" class="xi2" sc="1">国产动画片</a>



                                <a href="search.php?mod=forum&amp;srchtxt=%C3%C8%BC%A6%D0%A1%B6%D3&amp;formhash=744dccd4&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" class="xi2" sc="1">萌鸡小队</a>



                                <a href="search.php?mod=forum&amp;srchtxt=%B7%CA%D5%AC%B2%E2%CA%D4&amp;formhash=744dccd4&amp;searchsubmit=true&amp;source=hotsearch" target="_blank" class="xi2" sc="1">肥宅测试</a>

                            </div>
                        </div>
                        <ul id="scbar_type_menu" class="p_pop" style="display: none;"><li><a href="javascript:;" rel="article">文章</a></li><li><a href="javascript:;" rel="forum" class="curtype">帖子</a></li><li><a href="javascript:;" rel="user">用户</a></li></ul>
                        <script type="text/javascript">
initSearchmenu('scbar', '');
                        </script>
                    </div>
                    <!--app-->
                    <div class="nex_top_cell">
                        <div class="nex_top_cell_top">访问手机版</div>
                        <div class="nex_top_cell_hide">
                            <img src="template/nex_manga_181008/neoconex/top/ewm.jpg">
                            <p>扫描体验手机版</p>
                        </div>
                    </div>
                    <!--login-->
                    <div class="nexdl">
                        <div class="nexlogin">
                            <div class="nexmain_dls">
                                <div class="nexDL_before">
                                    <div class="nexDL_unknown"><img src="template/nex_manga_181008/neoconex/top/admin.png" /></div>
                                    <div class="clear"></div>
                                    <i></i>
                                </div>
                                <div class="nexbd_mains">
                                    <em></em>
                                    <div class="nexbd_Iner">
                                        <div class="nexbd_Ineravt"><img src="template/nex_manga_181008/neoconex/top/admin1.png" /></div>
                                        <div class="nexbd_welcome">游客您好</div>
                                        <div class="nexbd_DLplace">
                                            <ul>
                                                <h4>已有账号？</h4>
                                                <li class="nexbdLogin"><a href="member.php?mod=logging&amp;action=login" onclick="showWindow('login', this.href)">登陆账号</a></li>
                                                <h4>注册后更精彩</h4>
                                                <li class="nexbdRegs"><a href="member.php?mod=register">立即注册</a></li>
                                                <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="nexbdthirdparts"><i class="nex_lineleft"></i><span>第三方账号登陆</span><i class="nex_lineright"></i></div>
                                        <div class="nexbdthirdlogins">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <img src="template/nex_manga_181008/neoconex/top/third_qq.png" />
                                                        <p>QQ登陆</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="template/nex_manga_181008/neoconex/top/third_weixin.png" />
                                                        <p>微信登陆</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="template/nex_manga_181008/neoconex/top/third_weibo.png" />
                                                        <p>微博登陆</p>
                                                    </a>
                                                </li>
                                                <div class="clear"></div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <script type="text/javascript">
                    jQuery(".nexDL_before").hover(
                        function(){
                            jQuery(this).siblings(".nexbd_mains").show();
                            },
                        function(){
                            jQuery(this).siblings(".nexbd_mains").hide();
                            })
                    jQuery(".nexbd_mains").hover(
                        function(){
                            jQuery(this).show();
                            jQuery(this).siblings(".nexDL_before").addClass("nexuppers");
                            },
                        function(){
                            jQuery(this).hide();
                            jQuery(this).siblings(".nexDL_before").removeClass("nexuppers");
                            })
                                </script>
                            </div>

                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div id="nexheader" class="nexheader">
            <div class="w1180">
                <div class="nexnav">
                    <ul>
                        <li id="mn_portal"><a href="portal.php" hidefocus="true" title="Portal">门户<span>Portal</span></a></li>
                        <li id="mn_P11" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=11" hidefocus="true">动漫音乐</a></li>
                        <li id="mn_P10" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=10" hidefocus="true">番剧</a></li>
                        <li id="mn_P8" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=8" hidefocus="true">漫画专题</a></li>
                        <li id="mn_F2"><a href="forum.php?mod=forumdisplay&fid=2" hidefocus="true">ACG视频</a></li>
                        <li id="mn_F37"><a href="forum.php?mod=forumdisplay&fid=37" hidefocus="true">P站美图</a></li>
                        <li id="mn_F36"><a href="forum.php?mod=forumdisplay&fid=36" hidefocus="true">Cosplay</a></li>
                        <li id="mn_P2" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=2" hidefocus="true">资讯展示</a></li>
                        <li id="mn_P1"><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=1" hidefocus="true">关于我们</a></li>
                        <li class="a" id="mn_P9"><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=9" hidefocus="true">VIP</a></li>
                        <li id="mn_forum_2"><a href="forum.php" hidefocus="true" title="BBS">论坛<span>BBS</span></a></li>
                    </ul>
                </div>

                <div class="nex_fastpost_btn">
                    <a onClick="showWindow('nav', this.href, 'get', 0)" href="forum.php?mod=misc&amp;action=nav"><i></i>我要投稿</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <script type="text/javascript">
jQuery(function () {
var nav = jQuery("#nexheader");
var win = jQuery(window);
var sc = jQuery(document);
win.scroll(function () {
if (sc.scrollTop() >= 10) {
nav.addClass("nex_subtops");
} else {
nav.removeClass("nex_subtops");
}
})
});
        </script>
        <script src="template/nex_manga_181008/neoconex/js/nv.js" type="text/javascript"></script>
        <!--侧边工具栏-->
        <div class="nexsidetls">
            <div class="nexsidetools">
                <ul>
                    <li class="nexsd_kf">
                        <div class="nexstout">
                            <img src="template/nex_manga_181008/neoconex/sidetools/kf.png">
                            <span>客服电话</span>
                        </div>

                    </li>
                    <li>
                        <div class="nexstout">
                            <a onClick="showWindow('nav', this.href, 'get', 0)" href="forum.php?mod=misc&amp;action=nav">
                                <img src="template/nex_manga_181008/neoconex/sidetools/ft.png">
                                <span>快速发帖</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="nexstout">
                            <a href="mailto:admin@admin.com" target="_blank">
                                <img src="template/nex_manga_181008/neoconex/sidetools/qa.png">
                                <span>问题反馈</span>
                            </a>
                        </div>
                    </li>
                    <li class="nexsd_app">
                        <div class="nexstout nexstout_app">
                            <img src="template/nex_manga_181008/neoconex/sidetools/app.png">
                            <span>APP下载</span>
                        </div>

                    </li>
                    <li class="nexsd_wx">
                        <div class="nexstout nexstout_wx">
                            <img src="template/nex_manga_181008/neoconex/sidetools/wx.png">
                            <span>官方微信</span>
                        </div>

                    </li>
                    <!--返回顶部-->
                    <li id="scrolltop">
                        <div class="nexstout nexstout_up">
                            <a id="nexGoToTop">
                                <img src="template/nex_manga_181008/neoconex/sidetools/up.png">
                                <span>返回顶部</span>
                            </a>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="nexsidecons">
                <ul>
                    <li style="display:none;">
                        <div class="nexsthds">
                            <div class="nexsthdstops">
                                <img src="template/nex_manga_181008/neoconex/sidetools/qq.png">
                                <a href="tencent://Message/?Uin=1691000615&amp;websiteName=#=&amp;Menu=yes">点击联系客服</a>
                                <p>在线时间：8:00-16:00</p>
                            </div>
                            <div class="nexsthdcbtms">
                                <h5>客服电话</h5>
                                <p>400-123-4567</p>
                                <h4>电子邮件</h4>
                                <span>admin@admin.com</span>
                            </div>
                        </div>
                    </li>
                    <li style="display:none;"></li>
                    <li style="display:none;"></li>
                    <li style="display:none;">
                        <div class="nexsthds nexsthds_app nexAPPuiBox">
                            <div class="nexstappsd nexAPPui">
                                <i></i>
                                <div class="nexAPPinters">
                                    <p>星点次元APP</p>
                                    <p>随时随地分享快乐</p>
                                    <img src="template/nex_manga_181008/neoconex/sidetools/app_code.jpg">
                                </div>
                                <em></em>
                            </div>
                        </div>
                    </li>
                    <li style="display:none;">
                        <div class="nexsthds nexsthds_weixin">
                            <i></i>
                            <div class="nexstwxsd">
                                <p>扫描二维码</p>
                                <p>关注星点次元公众号</p>
                                <img src="template/nex_manga_181008/neoconex/sidetools/wx_ewm.png">
                            </div>
                        </div>
                    </li>
                    <li style="display:none;"></li>
                </ul>
            </div>
            <script type="text/javascript">
jQuery(".nexsidetools ul li").each(function(s){
jQuery(this).hover(function(){
jQuery(".nexsidecons ul li").eq(s).show().siblings().hide();
})
})
            </script>
            <script type="text/javascript">
jQuery(".nexsidetls").each(function(s){
jQuery(this).mouseleave(function(){
jQuery(".nexsidecons ul li").css("display","none");
})
})
            </script>
        </div>
        <div class="wp">
            <div class="hdc cl">
            </div>
            <ul class="p_pop h_pop" id="mn_P11_menu" style="display: none"><li><a href="forum.php?mod=forumdisplay&fid=58" hidefocus="true">次元音乐单曲</a></li><li><a href="forum.php?mod=forumdisplay&fid=59" hidefocus="true">次元音乐歌单</a></li></ul><ul class="p_pop h_pop" id="mn_P10_menu" style="display: none"><li><a href="forum.php?mod=forumdisplay&fid=42" hidefocus="true">番剧帖</a></li></ul><ul class="p_pop h_pop" id="mn_P8_menu" style="display: none"><li><a href="forum.php?mod=forumdisplay&fid=40" hidefocus="true">漫画下载</a></li><li><a href="forum.php?mod=forumdisplay&fid=39" hidefocus="true">次元漫画</a></li></ul><ul class="p_pop h_pop" id="mn_P2_menu" style="display: none"><li><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=3" hidefocus="true">动漫资讯</a></li><li><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=4" hidefocus="true">游戏资讯</a></li><li><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=5" hidefocus="true">八卦娱乐</a></li><li><a href="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=6" hidefocus="true">新番速递</a></li></ul><div id="mu" class="cl">
            </div>
        </div>
    </div>


    <div id="wp" class="wp">
        <link rel="stylesheet" type="text/css" href="template/nex_manga_181008/neoconex/vip/main.css">
        <div class="nex_Vip_bd">
            <div class="w1180">
                <div class="nex_Vip_User_status">
                    <div class="nex_Vip_avator"><img src="template/nex_manga_181008/neoconex/vip/default.gif" /></div>
                    <div class="nex_Vip_b_box">
                        <h5>开通<span>VIP</span>特权</h5>
                        <h4>进入特权阶层 畅享海量资源</h4>
                        <div class="nex_Vip_dlbtms">
                            <ul>
                                <li class="nex_Vip_dl_btn1"><a href="member.php?mod=logging&amp;action=login" onclick="showWindow('login', this.href)">立即登陆</a></li>
                                <li class="nex_Vip_dl_btn2"><a href="member.php?mod=register">还未注册</a></li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="nex_Vip_Advanced">
                            <ul>
                                <li class="nex_Vip_Advanced_icon1">
                                    <i></i>
                                    <div class="nex_Vip_Txt">
                                        <p>海量漫画</p>
                                        <p>免费下载</p>
                                    </div>
                                </li>
                                <li class="nex_Vip_Advanced_icon2">
                                    <i></i>
                                    <div class="nex_Vip_Txt">
                                        <p>每月获赠</p>
                                        <p>免费金币</p>
                                    </div>
                                </li>
                                <li class="nex_Vip_Advanced_icon3">
                                    <i></i>
                                    <div class="nex_Vip_Txt">
                                        <p>金币任务</p>
                                        <p>奖励翻倍</p>
                                    </div>
                                </li>
                                <li class="nex_Vip_Advanced_icon4">
                                    <i></i>
                                    <div class="nex_Vip_Txt">
                                        <p>享受VIP</p>
                                        <p>尊贵称号</p>
                                    </div>
                                </li>
                                <li class="nex_Vip_Advanced_icon5">
                                    <i></i>
                                    <div class="nex_Vip_Txt">
                                        <p>付费漫画</p>
                                        <p>享更多折扣</p>
                                    </div>
                                </li>

                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="nex_Vip_Details">
                    <div class="nex_VIP_authority">
                        <div class="nex_VIP_Body">
                            <h5>
                                <span>1.请选择您要充值的服务</span>
                            </h5>
                            <div class="nex_VIP_tabs">
                                <ul>
                                    <li class="nex_VIP_labels ons">
                                        <b>体验会员</b>
                                        <div class="nex_VIP_tops">体验VIP会员</div>
                                        <div class="nex_VIP_tagINter"><em>5</em>元/天</div>
                                        <p>体验VIP会员，有效期24小时</p>
                                        <a href="#" target="_blank"><i></i>详细介绍</a>
                                        <strong></strong>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_tops">包月VIP会员</div>
                                        <div class="nex_VIP_tagINter"><em>69</em>元/月</div>
                                        <p>包月VIP，平均每天低至1.9元</p>
                                        <a href="#" target="_blank"><i></i>详细介绍</a>
                                        <strong></strong>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_tops">包年VIP会员</div>
                                        <div class="nex_VIP_tagINter"><em>99</em>元/年</div>
                                        <p>全站整年全部免费下载</p>
                                        <a href="#" target="_blank"><i></i>详细介绍</a>
                                        <strong></strong>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_tops">全站终身VIP</div>
                                        <div class="nex_VIP_tagINter"><em>599</em>元/终身</div>
                                        <p>全站终身免费下载</p>
                                        <a href="#" target="_blank"><i></i>详细介绍</a>
                                        <strong></strong>
                                    </li>
                                    <div class="clear"></div>
                                </ul>
                            </div>
                            <div class="nex_VIP_pay">
                                <ul>
                                    <li style="display:block;">
                                        <div class="nex_VIP_price">应付金额：<em>￥5.00</em></div>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_price">应付金额：<em>￥69.00</em></div>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_price">应付金额：<em>￥99.00</em></div>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_price">应付金额：<em>￥599.00</em></div>
                                    </li>
                                </ul>
                            </div>
                            <h5><span>2.请选择支付方式</span></h5>
                            <div class="nex_VIP_selections">
                                <ul>
                                    <li style="display:block;">
                                        <div class="nex_VIP_ewmbox">
                                            <dl>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/wx1.jpg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                                </dd>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/zfb1.png" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                                </dd>
                                                <div class="clear"></div>
                                            </dl>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_ewmbox">
                                            <dl>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/wx2.jpg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                                </dd>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/zfb2.png" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                                </dd>
                                                <div class="clear"></div>
                                            </dl>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_ewmbox">
                                            <dl>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/wx3.jpg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                                </dd>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/zfb3.png" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                                </dd>
                                                <div class="clear"></div>
                                            </dl>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="nex_VIP_ewmbox">
                                            <dl>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/wx4.jpg" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_wxpay"></div>
                                                </dd>
                                                <dd>
                                                    <div class="nex_VIP_ewmpic">
                                                        <div class="nex_VIP_unlogin">
                                                            <a href="member.php?mod=logging&amp;action=login">
                                                                <em>请先登录</em>
                                                                <img src="template/nex_manga_181008/neoconex/vip/zfb4.png" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="nex_VIP_ewmbtm nex_zfbpay"></div>
                                                </dd>
                                                <div class="clear"></div>
                                            </dl>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <script type="text/javascript">
                        jQuery(".nex_VIP_tabs ul li").each(function(s){
                            jQuery(this).click(function(){
                                jQuery(this).addClass("ons").siblings().removeClass("ons");
                                jQuery(".nex_VIP_pay ul li").eq(s).show().siblings().hide();
                                jQuery(".nex_VIP_selections ul li").eq(s).show().siblings().hide();
                                })
                            })
                            </script>
                            <div class="nex_VIP_Advs">特殊说明</div>
                            <div class="nex_VIP_desc">
                                <p><em>**</em>注册会员充值为VIP会员后，请联络管理员<a href="tencent://Message/?Uin=1691000615&amp;websiteName=#=&amp;Menu=yes">QQ1691000615</a>修改用户组<em>**</em></p>
                                <p><em>**</em>本论坛所收集的部分公开资料来源于互联网，转载的目的在于传递更多信息及用于网络分享，并不代表本论坛赞同其观点和对其真实性负责，也不构成任何其他建议。本论坛不保证信息的准确性、有效性、及时性和完整性。本论坛及其雇员一概毋须以任何方式就任何信息传递或传送的失误、不准确或错误，对用户或任何其他人士负任何直接或间接责任。在法律允许的范围内，本论坛在此声明，不承担用户或任何人士就使用或未能使用本论坛所提供的信息或任何链接所引致的任何直接、间接、附带、从属、特殊、惩罚性或惩戒性的损害赔偿。</p>
                                <p><em>**</em>本论坛部分作品是由网友自主投稿和发布、编辑整理上传，对此类作品本论坛仅供提供学习交流和参考，禁止用户用于商业行为，并请于下载后24小时内删除，若喜欢该作品请联系原作者购买正版。如果您发现论坛上有侵犯您的知识产权的作品，请与我们取得联系，我们会及时修改或删除。</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="nexfooter">
        <div class="nexbottom_nav">
            <ul>
                <li><a href="#" target="_blank">站点地图</a></li>
                <li><a href="#" target="_blank">关于我们</a></li>
                <li><a href="#" target="_blank">招聘信息</a></li>
                <li><a href="#" target="_blank">意见反馈</a></li>
                <li><a href="#" target="_blank">免责声明</a></li>
                <li><a href="#" target="_blank">加入我们</a></li>
                <li><a href="#" target="_blank">我要投稿</a></li>
                <li><a href="#" target="_blank">商务合作</a></li>
                <li><a href="#" target="_blank">常见问题</a></li>
            </ul>
        </div>
        <div class="nexfttop">
            <div class="w1180">
                <div class="nexfttop_L">
                    <div class="nex_ftLogo"><img src="template/nex_manga_181008/neoconex/footer/logo.png" /></div>
                    <div class="nex_ft_intro">关于本站：星点二次元-ACG一站式分享平台，包含 动漫资讯、cosplay、漫展信息、动漫美图、动漫周边，动漫音乐等跟二次元相关内容，欢迎投稿</div>
                    <div class="clear"></div>
                </div>
                <div class="nexfttop_M">
                    <ul>
                        <li>网络文化经营许可证：沪网文[2016]2296-134号</li>
                        <li>信息网络传播视听节目许可证：0910417</li>
                        <li>违法不良信息举报邮箱：<a href="mailto:admin@admin.com">admin@admin.com</a></li>
                        <li>违法不良信息举报电话：4000231233233转13 </li>
                    </ul>
                </div>
                <div class="nexfttop_R">
                    <div class="nex_cell_edition">
                        <div class="nex_cell_editionimg"><img src="template/nex_manga_181008/neoconex/footer/wx.png" /></div>
                        <div class="nex_cell_editioninfo">
                            <p>扫描二维码</p>
                            <p>体验配套手机端</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="nexftbottom">
            <div class="w1180">
                <p>声明：本站不提供任何视听上传服务，所有内容均来自视频分享站点所提供的公开引用资源,作品版权归原作者所有 禁止商用 违者必究。</p>

                <p>Powered by <a href="http://www.discuz.net" target="_blank">Discuz!</a> <em>X3.4</em>&copy; 2001-2013 <a href="http://www.comsenz.com" target="_blank">Comsenz Inc.</a> <em>星点互联设计</em> ( <a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP(325452342)</a> ) </p>
            </div>
        </div>
    </div>

    <div id="ft" style="margin:0;padding:0; height:0;"></div>
    <script src="home.php?mod=misc&ac=sendmail&rand=1585667685" type="text/javascript"></script>
    <div id="scrolltop" style="display:none;">
        <span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo('0','0')" id="scrolltopa"><b>返回顶部</b></a></span>
    </div>


    <script type="text/javascript">_attachEvent(window, 'scroll', function () { showTopLink(); });checkBlind();</script>
    <script type="text/javascript">
function click(e) {
if (document.all) {
if (event.button==2||event.button==3) { alert("支持正版！！！有需求请与管理联系QQ:1691000615！谢谢您的合作！！！");
oncontextmenu='return false';
}
}
if (document.layers) {
if (e.which == 3) {
oncontextmenu='return false';
}
}
}
if (document.layers) {
document.captureEvents(Event.MOUSEDOWN);
}
document.onmousedown=click;
document.oncontextmenu = new Function("return false;")
document.onkeydown =document.onkeyup = document.onkeypress=function(){
if(window.event.keyCode == 123) {
window.event.returnValue=false;
return(false);
}
}
    </script>
</body>
</html>

