<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-envelope-o fa-3x icon-muted"></i>
				<h2>Contact</h2>
				<a href="http://weibo.com/leanotecom" target="_blank"><i class="fa fa-weibo"></i></a> / leanote@leanote.com
				<br />
			</div>
			<div class="col-md-6">
				<i class="fa fa-globe fa-3x icon-muted"></i>
				<h2>Join Us</h2>
				<a href="https://github.com/leanote/leanote">Github</a> / <a href="http://leanote.leanote.com/post/Leanote-groups">QQ Group</a>
			</div>
		</div>
	</div>
	
	<div class="footer-leanote">
		Copyright © <a href="https://leanote.com">Leanote</a>&nbsp;
		Proudly powered by <a href="https://leanote.com">Leanote</a>&nbsp;
		<a target="_blank" href="http://www.beian.miit.gov.cn/" style="color:#bdbdbd"> <img src="~/icp.png" />鲁ICP备19063639号-1</a>&nbsp;
		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010202001926" style="color:#bdbdbd"><img src="~/beian.png" />鲁公网安备 37010202001926号</a>&nbsp;
		<a target="_blank" href="https://github.com/hyfree/MoreNote" style="color:#bdbdbd;"><img src="~/images/github/github.svg" style="width:20px">ForkByGithub</a>&nbsp;
		<a target="_blank" href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" style="color:#bdbdbd"><img style="height:30px" src="~/upyun_logos/upyun_logo5.png">又拍云提供加速服务</a>&nbsp;
	</div>
	
</div>
