@{
    Layout = "";
    Dictionary<string, string> msg = ViewBag.msg;
    UserInfo user = ViewBag.userInfo;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="morenote,更多笔记">
    <meta name="description" content="morenote,更多笔记, {{msg $ " moto"}}">
    <meta name="author" content="morenote,更多笔记">
    <title>@ViewBag.title</title>
</head>
<body>
    <p>morenote</p>
    
</body>
</html>